all_nodered-flows.json
[{"id":"eb9e43c3.8aeb9","type":"tab","label":"Twitter Map"},{"id":"f8118671.91e4e8","type":"tab","label":"Demo Dashboard"},{"id":"a1eb4a85.734c1","type":"tab","label":"Learning App"},{"id":"e34a7626.564588","type":"tab","label":"Read Simulated Sensor"},{"id":"15b5456f.af4c0b","type":"tab","label":"Flow 1"},{"id":"55537628.240bd","type":"tab","label":"Flow 2"},{"id":"e619647e.eaace8","type":"tab","label":"Super App Flows"},{"id":"80cb89fb.37e7b","type":"websocket-listener","path":"/ws/location","wholemsg":"false"},{"id":"2c5cc2f1.573d9e","type":"twitter-credentials","z":"","screen_name":"@kdunetz"},{"id":"c861c8c1.d54a18","type":"ui_tab","z":"","name":"Hello ","icon":"dashboard","order":2},{"id":"65ad9e28.eb0a98","type":"ui_tab","z":"","name":"Dashboard","icon":"dashboard","order":1},{"id":"68b236c1.bfd6b8","type":"ui_group","z":"","name":"Group 1","tab":"c861c8c1.d54a18","order":3,"disp":true,"width":"6"},{"id":"1e04732b.824dd5","type":"ui_group","z":"","name":"Group 1","tab":"c861c8c1.d54a18","order":2,"disp":true,"width":"12"},{"id":"a17d59e6.3009f8","type":"ui_group","z":"","name":"Tradeoff Analytics Results","tab":"c861c8c1.d54a18","order":1,"disp":true,"width":"6"},{"id":"286a799d.a7a7b6","type":"ui_group","z":"","name":"Chart 1","tab":"65ad9e28.eb0a98","order":1,"disp":true,"width":"6"},{"id":"5574dadd.cfa7bc","type":"ui_group","z":"","name":"Chart 2","tab":"65ad9e28.eb0a98","order":2,"disp":true,"width":"6"},{"id":"f7f4de40.fed05","type":"websocket-listener","path":"/ws/audio","wholemsg":"false"},{"id":"256422f2.656d46","type":"openwhisk-service","z":"","name":"","api":"https://openwhisk.ng.bluemix.net/api/v1"},{"id":"ef96349b.49423","type":"ibmiot","z":"","name":"Bluemix Service","keepalive":"60","cleansession":true,"appId":"","shared":false},{"id":"ce95dfe1.0636d","type":"ui_group","name":"Group 5","tab":"65ad9e28.eb0a98","order":3,"disp":true,"width":6},{"id":"cab51c76.208678","type":"ui_group","z":"","name":"Group 2","tab":"c861c8c1.d54a18","order":4,"disp":true,"width":"6"},{"id":"749e6228.12024c","type":"cloudant","z":"","host":"ddc1728e-316e-4a3e-a75e-e85be80a4e99-bluemix.cloudant.com","name":""},{"id":"b2a9ad2d.7cba98","type":"websocket out","z":"eb9e43c3.8aeb9","name":"","server":"80cb89fb.37e7b","client":"","x":669.5,"y":341.8000793457031,"wires":[]},{"id":"31184d5b.b8252a","type":"websocket in","z":"eb9e43c3.8aeb9","name":"","server":"80cb89fb.37e7b","client":"","x":236.5,"y":340.80006408691406,"wires":[["555e520.24fefb"]]},{"id":"555e520.24fefb","type":"function","z":"eb9e43c3.8aeb9","name":"Get Global context","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\n\nmsg.payload = context.global.location;\nreturn msg;","outputs":1,"noerr":0,"x":444.5,"y":340.80010986328125,"wires":[["b2a9ad2d.7cba98"]]},{"id":"443ad2fa.3346cc","type":"template","z":"eb9e43c3.8aeb9","name":"HTML output","field":"","fieldType":"msg","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n\n<head>\n    <title>BlueMix Sentiment Twitter Map</title>\n    <script src=\"http://use.edgefonts.net/antic-didone:n4:all.js\"></script>\n    <script type=\"text/javascript\" src=\"http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js\"></script>\n    <script type=\"text/javascript\" src=\"http://maps.google.com/maps/api/js?sensor=true\"></script>\n    <script type=\"text/javascript\" src=\"http://yourjavascript.com/4594301102/gmaps.js\"></script>\n    <script type=\"text/javascript\" src=\"http://yourjavascript.com/190225905/autolinker-min.js\"></script>\n    <style type=\"text/css\" media=\"screen\">\n        #map {\n            position: absolute;\n            top: 0;\n            bottom: 0;\n            left: 0;\n            right: 0;\n        }\n        \n        #content {\n            font-size: 10px;\n        }\n        \n        p {\n            font-family: verdana;\n            text-align: center\n        }\n        \n        .maptitle {\n            position: absolute;\n            border-radius: 10px;\n            top: .3em;\n            right: .3em;\n            color: white;\n            background: black;\n            opacity: 0.7;\n            padding: 0 10px;\n        }\n        \n        .titletext {\n            font-family: antic-didone;\n            font-size: 3em;\n            font-weight: 100;\n            margin-top: 0;\n            margin-bottom: 0;\n            line-height: 1em;\n        }\n        \n        .subtitle {\n            color: darkolivegreen;\n            font-size: .8em;\n            line-height: .3em;\n            vertical-align: middle;\n        }\n        \n        .credit {\n            position: absolute;\n            bottom: 0;\n            left: 10em;\n            font-size: .6em;\n            color: #222;\n        }\n        \n        .legend {\n            font-size: .6em;\n            color: #000;\n        }\n    </style>\n</head>\n\n<body>\n\n    <div id=\"map\"></div>\n    <div class=maptitle>\n        <p class=titletext>Tweet Legend</p>\n        <div class=subtitle>\n            <p>Sentiment (negative to positive)</p>\n        </div>\n        <div class=legend>\n            <p>Sentiment:\n                <br>\n                    <img src=\"http://sociallistenertwitter.mybluemix.net/images/tweet-r2.png\">\n                    <img src=\"http://sociallistenertwitter.mybluemix.net/images/tweet-r1.png\">\n                    <img src=\"http://sociallistenertwitter.mybluemix.net/images/tweet-w.png\">\n                    <img src=\"http://sociallistenertwitter.mybluemix.net/images/tweet-g1.png\">\n                    <img src=\"http://sociallistenertwitter.mybluemix.net/images/tweet-g2.png\">\n                </p>\n        </div>\n    </div>\n    <div class=credit>\n        <p>Originally written by Tiran Dagan, IBM October 2015\n           <br>\n           Enhanced by the BlueMix Technical Team, IBM January, 2016</p>\n    </div>\n    <script type=\"text/javascript\">\n        var geocoder = new google.maps.Geocoder();\n        var autolinker = new Autolinker( {\n            newWindow : true,\n            truncate  : 30\n        } );\n        console.log(\"made it here {{req.headers.host}}\");\n        var socketaddy = \"ws://{{req.headers.host}}/ws/location\";\n        var map;\n        var sock;\n        $(document).ready(function()\n        {\n            // Houston Lat Long in Degrees\n            // Latitude: 29.7632836\n            // Longitude: -95.3632715 \n            map = new GMaps({\n                div: '#map',\n                //lat: -12.043333,\n                //lng: -77.028333,\n                lat: 29.7632836,\n                lng: -95.3632715,\n                minZoom: 3\n            });\n                        console.log(\"Made it here\");\n\n            // Use HTML5 geolocation if user allows it.\n            if (navigator.geolocation)\n            {\n                navigator.geolocation.getCurrentPosition(function(position) {\n                    var pos = {\n                        lat: position.coords.latitude,\n                        lng: position.coords.longitude\n                    };\n\n                    map.setCenter(pos);\n                });\n            }\n\n            console.log(\"Made it here\");\n            map.setZoom (3);\n      \n            sock = new WebSocket(socketaddy);\n            sock.onopen = function()\n            {\n                console.log(\"WebSocket - Connected\");\n                console.log(\"WebSocket - Sending ping\");\n                sock.send(\"Ping.\");\n                console.log(\"WebSocket - Ping sent\");\n            };\n            sock.onerror = function()\n            {\n                console.log(\"WebSocket - Error\");\n            };\n            sock.onmessage = function(evt)\n            {\n                var msgparse = JSON.parse(evt.data);\n                console.log (\"User: @\" + msgparse.user);\n                console.log (msgparse.location );\n                \n                GMaps.geocode({\n                    address: msgparse.location,\n                    callback: function(results, status)\n                    {\n                        if (status == 'OK')\n                        {\n                            var latlng = results[0].geometry.location;\n                            // map.removeMarkers();\n                           \t// map.setCenter(latlng[0].lat, latlng[0].lng);\n                            // Create marker\n                            var infoWindow = new google.maps.InfoWindow({ \n                                content: '<b>heading</b><br>more text'\n                            });\n                    \n                            var infoText = '<b>@' + msgparse.user + ':</b>&nbsp;' + \n                                           '<div id=content>' + msgparse.tweet + '</div>'\n                            var html = autolinker.link( infoText );\n                            \n                            // Sets the Default Tweet Icon\n                            var iconfile = 'http://sociallistenertwitter.mybluemix.net/images/tweet';\n                            var sentimentScore = msgparse.sentiment.score == \"\" ? 0 : parseFloat (msgparse.sentiment.score);\n            \n                            // User NodeRed Sentiment\n                            if (sentimentScore < -6.0) \n                                iconfile += '-r2'\n                            else if (sentimentScore < -2.0)\n                                iconfile += '-r1'\n                            else if (sentimentScore >= -2.0 && sentimentScore < 2.0)\n                                iconfile += '-w'\n                            else if (sentimentScore >= 2.0 && sentimentScore < 6.0)\n                                iconfile += '-g1'\n                            else if (sentimentScore >= 6.0)\n                                iconfile += '-g2';\n            \n                            iconfile += '.png';\n                            console.log ('sentiment ' + JSON.stringify(msgparse.sentiment) + ' score: ' + sentimentScore);\n                            console.log ('--> icon=' + iconfile);\n                            var marker = map.addMarker({\n                                lat: latlng.lat(),\n                                lng: latlng.lng(),\n                                title: msgparse.user,\n                                infoWindow: {\n                                    content: html,\n                                    maxWidth: 300\n                                },\n                                icon: iconfile\n                            });\n                            console.log (\"added marker: \" + marker.title);\n                            // map.setCenter(latlng.lat(), latlng.lng());\n                        }\n                        else\n                        {\n                            console.log (\"GMaps.geocode unsuccessful\");\n                        }\n                    }\n                });\n                console.log (msgparse.tweet);\n            }\n        });\n    </script>\n</body>\n\n</html>","x":448.772705078125,"y":417.07281494140625,"wires":[["d211efb1.ebffd8"]]},{"id":"d211efb1.ebffd8","type":"http response","z":"eb9e43c3.8aeb9","name":"","x":634.4999732971191,"y":416.80005073547363,"wires":[]},{"id":"31c3e9a5.035d9e","type":"http in","z":"eb9e43c3.8aeb9","name":"","url":"/map","method":"get","x":228.50000381469727,"y":416.80005073547363,"wires":[["443ad2fa.3346cc"]]},{"id":"a7f7bd33.f45a08","type":"function","z":"eb9e43c3.8aeb9","name":"Load map json","func":"// Alchemy Method\n//var sentiment;\n//if (msg.features === undefined)  \n//    sentiment = \"\"\n//else\n//    sentiment =  msg.features[\"doc-sentiment\"];\n\n// NodeRed Sentiment Method\nvar sentiment = msg.sentiment;  //.score\n\nvar msg2 = { payload : {\n\t\tuser: msg.tweet.user.screen_name,\n\t\tlocation: msg.location === undefined ? \"\" : msg.location.place,\n\t\tlang : msg.lang,\n\t\tsentiment: sentiment,\n\t\ttweet: msg.tweet.text}\n\t};\n\n// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\ncontext.global.location = msg2.payload;\nreturn msg2;\n","outputs":1,"noerr":0,"x":434.50001525878906,"y":268.00001525878906,"wires":[["b2a9ad2d.7cba98"]]},{"id":"c7874d54.4af44","type":"function","z":"eb9e43c3.8aeb9","name":"Set Payload=Tweet","func":"msg.payload = msg.tweet.text;\nreturn msg;","outputs":1,"noerr":0,"x":277.70001220703125,"y":194.20001220703125,"wires":[["ddc7cdfc.ae31d8"]]},{"id":"f7c50dbd.8ba4f","type":"cloudant out","z":"eb9e43c3.8aeb9","name":"store tweet","cloudant":"","database":"tweet_map","service":"kad-node-red-starter-cloudantNoSQLDB","payonly":false,"operation":"insert","x":855.5,"y":176,"wires":[]},{"id":"76962b82.b4ce2c","type":"function","z":"eb9e43c3.8aeb9","name":"set _id","func":"msg._id = msg.tweet.id_str\nreturn msg;","outputs":1,"noerr":0,"x":620.5,"y":179,"wires":[["f7c50dbd.8ba4f"]]},{"id":"94b7a941.76237","type":"debug","z":"eb9e43c3.8aeb9","name":"Debug","active":true,"console":"false","complete":"payload","x":285.5,"y":69,"wires":[]},{"id":"ddc7cdfc.ae31d8","type":"sentiment","z":"eb9e43c3.8aeb9","name":"","x":437,"y":180,"wires":[["a7f7bd33.f45a08","76962b82.b4ce2c","69bc35d7.a61e64"]]},{"id":"69bc35d7.a61e64","type":"debug","z":"eb9e43c3.8aeb9","name":"Debug","active":true,"console":"false","complete":"sentiment.score","x":622,"y":124,"wires":[]},{"id":"80d0edfd.d8aae","type":"twitter in","z":"eb9e43c3.8aeb9","twitter":"2c5cc2f1.573d9e","tags":"clinton","user":"dm","name":"","topic":"tweets","x":85,"y":149,"wires":[["94b7a941.76237","c7874d54.4af44"]]},{"id":"78b09e9.62533e","type":"ui_button","z":"f8118671.91e4e8","name":"","group":"68b236c1.bfd6b8","order":0,"width":0,"height":0,"label":"button","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":89,"y":22.25,"wires":[[]]},{"id":"ce1dd4d7.f9cae8","type":"ui_form","z":"f8118671.91e4e8","name":"","label":"","group":"1e04732b.824dd5","order":1,"width":0,"height":0,"options":[{"label":"","value":"","type":"text","required":true}],"formValue":{"":""},"payload":"","topic":"","x":517,"y":27.25,"wires":[[]]},{"id":"6e29c176.66258","type":"ui_ui_control","z":"f8118671.91e4e8","name":"ui control","x":221,"y":26.25,"wires":[[]]},{"id":"af8efdab.82d9a","type":"ui_audio","z":"f8118671.91e4e8","name":"hello","group":"286a799d.a7a7b6","voice":"0","x":810,"y":596.25,"wires":[]},{"id":"8ae54211.a173a","type":"ui_toast","z":"f8118671.91e4e8","position":"dialog","displayTime":"3","outputs":1,"ok":"OK","cancel":"","topic":"","name":"","x":402,"y":277.25,"wires":[[]]},{"id":"df666b61.c026e8","type":"inject","z":"f8118671.91e4e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":140,"y":278.25,"wires":[["8ae54211.a173a"]]},{"id":"218d7311.9e73d4","type":"ui_template","z":"f8118671.91e4e8","group":"68b236c1.bfd6b8","name":"","order":0,"width":0,"height":0,"format":"<div ng-bind-html=\"msg.payload\"></div>\n<div layout=\"row\" layout-align=\"space-between\">\n    <p>The number is</p>\n    <p ng-style=\"{color: (msg.payload || 0) % 2 === 0 ? 'green' : 'red'}\">\n        {{(msg.payload || 0) % 2 === 0 ? 'even' : 'odd'}}\n    </p>\n</div>","storeOutMessages":true,"fwdInMessages":true,"x":376,"y":29.5,"wires":[[]]},{"id":"e3cbf289.db302","type":"watson-tradeoff-analytics","z":"f8118671.91e4e8","name":"Kevin","x":558,"y":320.75,"wires":[["57618654.b0cd38"]]},{"id":"a04c5527.19aed","type":"inject","z":"f8118671.91e4e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":137,"y":382.25,"wires":[["58bb0f1f.60be1"]]},{"id":"c1d2cff3.082978","type":"debug","z":"f8118671.91e4e8","name":"","active":true,"console":"false","complete":"true","x":812,"y":285.5,"wires":[]},{"id":"faa70780.812fb8","type":"function","z":"f8118671.91e4e8","name":"Cell Phone Example","func":"msg.payload=\"Hello\";\nmsg.columns = [\n    {\n      \"key\": \"price\",\n      \"type\": \"numeric\",\n      \"goal\": \"min\",\n      \"is_objective\": true,\n      \"full_name\": \"Price\",\n      \"range\": {\n        \"low\": 0,\n        \"high\": 400\n      },\n      \"format\": \"number:2\"\n    },\n    {\n      \"key\": \"weight\",\n      \"type\": \"numeric\",\n      \"goal\": \"min\",\n      \"is_objective\": true,\n      \"full_name\": \"Weight\",\n      \"format\": \"number:0\"\n    },\n    {\n      \"key\": \"brand\",\n      \"type\": \"categorical\",\n      \"goal\": \"min\",\n      \"is_objective\": true,\n      \"full_name\": \"Brand\",\n      \"range\": [\n        \"Apple\",\n        \"HTC\",\n        \"Samsung\",\n        \"Sony\"\n      ],\n      \"preference\": [\n        \"Samsung\",\n        \"Apple\",\n        \"HTC\"\n      ]\n    },\n    {\n      \"key\": \"rDate\",\n      \"type\": \"datetime\",\n      \"goal\": \"max\",\n      \"full_name\": \"Release Date\",\n      \"format\": \"date: 'MMM dd, yyyy'\"\n    }\n  ];\nmsg.options=[\n    {\n      \"key\": \"1\",\n      \"name\": \"Samsung Galaxy S4\",\n      \"values\": {\n        \"price\": 249,\n        \"weight\": 130,\n        \"brand\": \"Samsung\",\n        \"rDate\": \"2013-04-29T00:00:00Z\"\n      }\n    },\n    {\n      \"key\": \"2\",\n      \"name\": \"Apple iPhone 5\",\n      \"values\": {\n        \"price\": 10349,\n        \"weight\": 112,\n        \"brand\": \"Apple\",\n        \"rDate\": \"2012-09-21T00:00:00Z\"\n      }\n    },\n    {\n      \"key\": \"3\",\n      \"name\": \"HTC One\",\n      \"values\": {\n        \"price\": 299,\n        \"weight\": 112,\n        \"brand\": \"HTC\",\n        \"rDate\": \"2013-03-01T00:00:00Z\"\n      }\n    },\n    {\n      \"key\": \"4\",\n      \"name\": \"Samsung Galaxy S5\",\n      \"values\": {\n        \"price\": 349,\n        \"weight\": 135,\n        \"brand\": \"Samsung\",\n        \"rDate\": \"2014-04-29T00:00:00Z\"\n      }\n    },\n    {\n      \"key\": \"5\",\n      \"name\": \"Apple iPhone 6\",\n      \"values\": {\n        \"price\": 399,\n        \"weight\": 118,\n        \"brand\": \"Apple\",\n        \"rDate\": \"2013-09-21T00:00:00Z\"\n      }\n    },\n    {\n      \"key\": \"6\",\n      \"name\": \"Apple iPhone 7\",\n      \"values\": {\n        \"price\": 499,\n        \"weight\": 118,\n        \"brand\": \"Apple\",\n        \"rDate\": \"2014-09-21T00:00:00Z\"\n      }\n    },\n    {\n      \"key\": \"7\",\n      \"name\": \"Sony Xperia\",\n      \"values\": {\n        \"price\": 199,\n        \"weight\": 120,\n        \"brand\": \"Sony\",\n        \"rDate\": \"2014-08-21T00:00:00Z\"\n      }\n    }\n  ];\n context.global.options = msg.options;\nreturn msg;","outputs":1,"noerr":0,"x":333,"y":378.75,"wires":[[]]},{"id":"57618654.b0cd38","type":"function","z":"f8118671.91e4e8","name":"","func":"var newmessage = {};\nnewmessage.payload = \"\";\nnode.error(\"HERE \" + msg.resolution.solutions.length);\nfor (x=0;x<msg.resolution.solutions.length;x++)\n{\nnode.error(\"IN HERE\");\nnode.error(context.global.options[msg.resolution.solutions[x].solution_ref - 1]);\nif (context.global.options[msg.resolution.solutions[x].solution_ref - 1])\n\n    newmessage.payload += context.global.options[msg.resolution.solutions[x].solution_ref - 1].name + \",\";\n}\nreturn newmessage;","outputs":1,"noerr":0,"x":690,"y":381.75,"wires":[["c1d2cff3.082978","233558e2.77fff","b88222c.bac3c6"]]},{"id":"4e23419a.fb80c8","type":"watson-text-to-speech","z":"f8118671.91e4e8","name":"text to speech","lang":"en-US","langhidden":"en-US","voice":"en-US_MichaelVoice","voicehidden":"","format":"audio/wav","password":"hkZvBAHYgd57","x":274,"y":595.75,"wires":[["4dde5632.e5727"]]},{"id":"39be68ab.518ab8","type":"inject","z":"f8118671.91e4e8","name":"","topic":"","payload":"Hello Everyone.  I am Watson.  The guy you see on T.V..  Kevin is here to help you with Bluemix the IBM Cloud.  Hope you enjoy the Moneygram hackathon. ","payloadType":"str","repeat":"","crontab":"","once":false,"x":112,"y":595.25,"wires":[["4e23419a.fb80c8"]]},{"id":"78dbc37c.5296cc","type":"watson-text-to-speech","z":"a1eb4a85.734c1","name":"","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_MichaelVoice","voicehidden":"en-US_MichaelVoice","format":"audio/wav","password":"hkZvBAHYgd57","x":380.18182373046875,"y":22,"wires":[["1ad89a75.a88f4e"]]},{"id":"1fddc531.c2af23","type":"inject","z":"a1eb4a85.734c1","name":"","topic":"","payload":"Hello, my name is James1","payloadType":"str","repeat":"","crontab":"","once":false,"x":70.27273559570312,"y":22.727264404296875,"wires":[["78dbc37c.5296cc"]]},{"id":"6c2df9c0.004588","type":"websocket out","z":"a1eb4a85.734c1","name":"","server":"f7f4de40.fed05","client":"","x":748.272705078125,"y":20,"wires":[]},{"id":"e30b34f8.05878","type":"http in","z":"a1eb4a85.734c1","name":"","url":"/audio","method":"get","swaggerDoc":"","x":101,"y":809.3636474609375,"wires":[["f86f8047.f77eb"]]},{"id":"560267ed.c2f078","type":"http response","z":"a1eb4a85.734c1","name":"","x":502.54547119140625,"y":807.6363525390625,"wires":[]},{"id":"f86f8047.f77eb","type":"template","z":"a1eb4a85.734c1","name":"","field":"payload","fieldType":"msg","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<head>\n  <title>IBM Watson - Text To Speech</title>\n  <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js\"></script>\n  \n  <script type=\"text/javascript\">\n    var socketaddy = \"ws://\" + window.location.host + \"/ws/audio\";\n\n    $(document).ready(function(){\n      var output = document.getElementById('output')\n      $('#output').on('playing', function () {\n          $('#text').text('Playing audio.')\n          \n      });\n      $('#output').on('ended', function () {\n          $('#text').text('Waiting for audio...')\n          \n      });\n      sock = new WebSocket(socketaddy);\n      sock.onopen = function(){\n          $('#text').text('Waiting for audio...');\n          console.log(\"Connected websocket\");\n      };\n      sock.onerror = function(){ \n          console.log(\"Websocket error\"); \n      };\n      sock.onclose = function () {\n          $('#text').text('Not connected. Refresh the page?')\n      }\n      sock.onmessage = function(evt){\n        console.log(\"Websocket message\", evt); \n        output.src = window.URL.createObjectURL(evt.data);\n        output.play();\n      };\n    });\n  </script>\n  \n</head>\n<body style=\"font-size: 56px; font-family: helvetica; text-align: center; margin-top: 100px;\">\n  <div id=\"text\">Connecting...</div>\n  <audio id=\"output\"></audio>\n  <a href=/acronyms>Acronyms</a>\n  <a href=/acronyms_2>More Acronyms</a>\n  <a href=/microservices>Microservices</a>\n  <a href=/blockchain>Blockchain</a>\n  <a href=/garage_method>Garage Method</a>\n <a href=/twelve_factor>Twelve Factor</a>\n <a href=/agile_manifesto>Agile Manifesto</a>\n <a href=/generic_learning>Generic Learning</a>\n\n</body>\n\n</html>","x":308,"y":809.3636474609375,"wires":[["560267ed.c2f078"]]},{"id":"1ad89a75.a88f4e","type":"function","z":"a1eb4a85.734c1","name":"","func":"msg.payload = msg.speech;\nreturn msg;","outputs":1,"noerr":0,"x":579,"y":20,"wires":[["6c2df9c0.004588","e8dd8ca3.e0e8a8"]]},{"id":"4dde5632.e5727","type":"function","z":"f8118671.91e4e8","name":"Move Speech Buffer to Payload Variable","func":"msg.payload = msg.speech;\nreturn msg;","outputs":1,"noerr":0,"x":545,"y":596.75,"wires":[["af8efdab.82d9a"]]},{"id":"9f7e1b44.92eb3","type":"openwhisk-trigger","z":"f8118671.91e4e8","name":"","namespace":"","trigger":"","params":[{"key":"","value":"","disabled":true}],"edit":false,"x":191,"y":896.5,"wires":[]},{"id":"5bdd59d8.65ae18","type":"openwhisk-action","z":"f8118671.91e4e8","name":"","func":"","namespace":"kdunetz@us.ibm.com_dev","action":"sendTextToIOTStarter","params":[{"disabled":true}],"service":"256422f2.656d46","edit":false,"x":444,"y":831.75,"wires":[["5c6fa64d.88a57"]]},{"id":"3a9efdb7.7bfd1a","type":"inject","z":"f8118671.91e4e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":203,"y":831.25,"wires":[["5bdd59d8.65ae18"]]},{"id":"5c6fa64d.88a57","type":"debug","z":"f8118671.91e4e8","name":"","active":true,"console":"false","complete":"false","x":636,"y":833,"wires":[]},{"id":"60e726f.7be7a58","type":"comment","z":"f8118671.91e4e8","name":"How to play some Text in a Node Red","info":"","x":195,"y":546.75,"wires":[]},{"id":"31612f83.4fafc8","type":"comment","z":"f8118671.91e4e8","name":"How to call an OpenWhisk Action from NodeRed","info":"","x":341,"y":794,"wires":[]},{"id":"233558e2.77fff","type":"ui_template","z":"f8118671.91e4e8","group":"a17d59e6.3009f8","name":"Results12","order":0,"width":"3","height":"2","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"x":870,"y":374,"wires":[[]]},{"id":"b88222c.bac3c6","type":"ui_text","z":"f8118671.91e4e8","group":"a17d59e6.3009f8","order":0,"width":0,"height":0,"name":"","label":"Phones Returned","format":"{{msg.payload}}","layout":"row-spread","x":891,"y":458,"wires":[]},{"id":"905d9c9a.4f4c98","type":"comment","z":"f8118671.91e4e8","name":"How to do Tradeoff Analytics in Node Red","info":"","x":210,"y":337,"wires":[]},{"id":"42125190.9c2ce8","type":"comment","z":"f8118671.91e4e8","name":"How to pop a Dialog box in Node Red Dashboard","info":"","x":237,"y":218,"wires":[]},{"id":"c828a87c.fc88","type":"ui_chart","z":"f8118671.91e4e8","name":"","group":"286a799d.a7a7b6","order":1,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"x":460,"y":183.5,"wires":[[],[]]},{"id":"e2276278.0282","type":"ui_gauge","z":"f8118671.91e4e8","name":"","group":"5574dadd.cfa7bc","order":1,"width":0,"height":0,"gtype":"gage","title":"Gauge","label":"units","format":"{{value | number:2}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"x":387,"y":148.5,"wires":[]},{"id":"41bbac71.7bdc1c","type":"ibmiot in","z":"f8118671.91e4e8","authentication":"apiKey","apiKey":"ef96349b.49423","inputType":"evt","deviceId":"iot-starter-android","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":94,"y":92.25,"wires":[["f19eaf88.d270e8","8535fe8b.99999"]]},{"id":"f19eaf88.d270e8","type":"debug","z":"f8118671.91e4e8","name":"","active":false,"console":"false","complete":"true","x":569,"y":91.5,"wires":[]},{"id":"8535fe8b.99999","type":"function","z":"f8118671.91e4e8","name":"","func":"msg.payload = msg.payload.d.acceleration_z;\nreturn msg;","outputs":1,"noerr":0,"x":264,"y":147.75,"wires":[["e2276278.0282","c828a87c.fc88"]]},{"id":"58bb0f1f.60be1","type":"function","z":"f8118671.91e4e8","name":"Equipment Example","func":"msg.payload=\"Hello\";\nmsg.columns = [{\"key\":\"Equipment Location\",\"full_name\":\"Equipment Location\",\"type\":\"text\",\"is_objective\":false,\"goal\":\"max\"},{\"key\":\"Equipment Value\",\"full_name\":\"Equipment Value\",\"type\":\"numeric\",\"is_objective\":true,\"goal\":\"max\"},{\"key\":\"Garage Site\",\"full_name\":\"Garage Site\",\"type\":\"text\",\"is_objective\":false,\"goal\":\"max\"},{\"key\":\"Distance\",\"full_name\":\"Distance\",\"type\":\"numeric\",\"is_objective\":true,\"goal\":\"max\"},{\"key\":\"Cost to Move\",\"full_name\":\"Cost to Move\",\"type\":\"numeric\",\"is_objective\":true,\"goal\":\"min\"},{\"key\":\"Weather Threat\",\"full_name\":\"Weather Threat\",\"type\":\"numeric\",\"is_objective\":true,\"goal\":\"max\"}];\nmsg.options=[{\"key\":1,\"name\":\"Fremont\",\"values\":{\"Equipment Location\":\"Fremont\",\"Equipment Value\":100000,\"Garage Site\":\"San Fransisco\",\"Distance\":300,\"Cost to Move\":40000,\"Weather Threat\":10}},{\"key\":2,\"name\":\"San Leandro\",\"values\":{\"Equipment Location\":\"San Leandro\",\"Equipment Value\":25000,\"Garage Site\":\"San Jose\",\"Distance\":200,\"Cost to Move\":30000,\"Weather Threat\":0}},{\"key\":3,\"name\":\"Pacifica\",\"values\":{\"Equipment Location\":\"Pacifica\",\"Equipment Value\":1000000,\"Garage Site\":\"Oakland\",\"Distance\":100,\"Cost to Move\":20000,\"Weather Threat\":5}}];\n \n context.global.options = msg.options;\nreturn msg;","outputs":1,"noerr":0,"x":336,"y":425,"wires":[["e3cbf289.db302"]]},{"id":"78c801b4.bd2808","type":"ui_template","z":"f8118671.91e4e8","group":"cab51c76.208678","name":"","order":0,"width":"0","height":"0","format":"<html>\n    <body width=100%>\n    Hello there \n    </body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"x":369,"y":69.5,"wires":[[]]},{"id":"d0f2c5f3.e5e348","type":"function","z":"f8118671.91e4e8","name":"Mutual Fund Example","func":"msg.payload=\"Hello\";\nmsg.columns = [\n    {\n      \"key\": \"YTD\",\n      \"full_name\": \"YTD\",\n      \"type\": \"numeric\",\n      \"goal\": \"max\"\n    },\n    {\n      \"key\": \"Short Term (1 Yr)\",\n      \"full_name\": \"Short Term\",\n      \"description\": \"1 Year\",\n      \"type\": \"numeric\",\n      \"goal\": \"max\",\n      \"is_objective\": \"true\",\n      \"range\": {\n        \"low\": 19,\n        \"high\": 20\n      }\n    },\n    {\n      \"key\": \"Mid Term (3 Yr)\",\n      \"full_name\": \"Mid Term\",\n      \"description\": \"3 Years\",\n      \"type\": \"numeric\",\n      \"goal\": \"max\",\n      \"is_objective\": \"true\"\n    },\n    {\n      \"key\": \"Long Term (10 Yr)\",\n      \"full_name\": \"Long Term\",\n      \"description\": \"10 Years\",\n      \"type\": \"numeric\",\n      \"goal\": \"max\"\n    },\n    {\n      \"key\": \"Risk (Beta)\",\n      \"full_name\": \"Risk\",\n      \"description\": \"Beta\",\n      \"type\": \"numeric\",\n      \"goal\": \"min\"\n    },\n    {\n      \"key\": \"Net Expense\",\n      \"full_name\": \"Net Expense\",\n      \"type\": \"numeric\"\n    },\n    {\n      \"key\": \"Morningstar Rating\",\n      \"full_name\": \"Morningstar Rating\",\n      \"type\": \"numeric\"\n    },\n    {\n      \"key\": \"Manager Tenure\",\n      \"full_name\": \"Manager Tenure\",\n      \"type\": \"numeric\"\n    },\n    {\n      \"key\": \"Assets\",\n      \"full_name\": \"Assets\",\n      \"type\": \"numeric\"\n    }\n];\n\nmsg.options=[\n    {\n      \"key\": \"0\",\n      \"name\": \"OBIOX\",\n      \"values\": {\n        \"YTD\": 8.24,\n        \"Short Term (1 Yr)\": 27.74,\n        \"Mid Term (3 Yr)\": 31.22,\n        \"Long Term (10 Yr)\": 13.08,\n        \"Net Expense\": 0.76,\n        \"Morningstar Rating\": 4,\n        \"Manager Tenure\": 9,\n        \"Assets\": 8111.66,\n        \"Risk (Beta)\": 0.94\n      },\n      \"description_html\": \"Select Biotechnology Portfolio\",\n      \"app_data\": {}\n    },\n    {\n      \"key\": \"1\",\n      \"name\": \"OSPHX\",\n      \"values\": {\n        \"YTD\": 12.69,\n        \"Short Term (1 Yr)\": 40.09,\n        \"Mid Term (3 Yr)\": 24.55,\n        \"Long Term (10 Yr)\": 12.81,\n        \"Net Expense\": 0.77,\n        \"Morningstar Rating\": 4,\n        \"Manager Tenure\": 5,\n        \"Assets\": 5863.63,\n        \"Risk (Beta)\": 0.89\n      },\n      \"description_html\": \"Select Health Care Portfolio\",\n      \"app_data\": {}\n    },\n    {\n      \"key\": \"2\",\n      \"name\": \"OSAIX\",\n      \"values\": {\n        \"YTD\": 10.52,\n        \"Short Term (1 Yr)\": 39.57,\n        \"Mid Term (3 Yr)\": 21.83,\n        \"Long Term (10 Yr)\": 13.06,\n        \"Net Expense\": 0.87,\n        \"Morningstar Rating\": 4,\n        \"Manager Tenure\": 2,\n        \"Assets\": 426.31,\n        \"Risk (Beta)\": 0.85\n      },\n      \"description_html\": \"Select Air Transportation Portfolio\",\n      \"app_data\": {}\n    },\n    {\n      \"key\": \"3\",\n      \"name\": \"OPHAX\",\n      \"values\": {\n        \"YTD\": 11.78,\n        \"Short Term (1 Yr)\": 32.3,\n        \"Mid Term (3 Yr)\": 20.49,\n        \"Long Term (10 Yr)\": 12.61,\n        \"Net Expense\": 0.82,\n        \"Morningstar Rating\": 4,\n        \"Manager Tenure\": 1,\n        \"Assets\": 1659.58,\n        \"Risk (Beta)\": 0.77\n      },\n      \"description_html\": \"Select Pharmaceuticals Portfolio\",\n      \"app_data\": {}\n    },\n    {\n      \"key\": \"4\",\n      \"name\": \"OBMPX\",\n      \"values\": {\n        \"YTD\": 0.34,\n        \"Short Term (1 Yr)\": 22.6,\n        \"Mid Term (3 Yr)\": 20.16,\n        \"Long Term (10 Yr)\": 10.77,\n        \"Net Expense\": 0.81,\n        \"Morningstar Rating\": 5,\n        \"Manager Tenure\": 1,\n        \"Assets\": 865.91,\n        \"Risk (Beta)\": 1.17\n      },\n      \"description_html\": \"Select Multimedia Portfolio <script>console.log('fdas')</script>\",\n      \"app_data\": {}\n    },\n    {\n      \"key\": \"5\",\n      \"name\": \"OSRPX\",\n      \"values\": {\n        \"YTD\": -3.85,\n        \"Short Term (1 Yr)\": 18.07,\n        \"Mid Term (3 Yr)\": 18.92,\n        \"Long Term (10 Yr)\": 12.41,\n        \"Net Expense\": 0.83,\n        \"Morningstar Rating\": 4,\n        \"Manager Tenure\": 4,\n        \"Assets\": 855.24,\n        \"Risk (Beta)\": 0.99\n      },\n      \"description_html\": \"Select Retailing Portfolio\",\n      \"app_data\": {}\n    },\n    {\n      \"key\": \"6\",\n      \"name\": \"OSCSX\",\n      \"values\": {\n        \"YTD\": -0.13,\n        \"Short Term (1 Yr)\": 28.58,\n        \"Mid Term (3 Yr)\": 18.79,\n        \"Long Term (10 Yr)\": 13.19,\n        \"Net Expense\": 0.79,\n        \"Morningstar Rating\": 5,\n        \"Manager Tenure\": 5,\n        \"Assets\": 3149.56,\n        \"Risk (Beta)\": 1.15\n      },\n      \"description_html\": \"Select Software and Computer Services Portfolio\",\n      \"app_data\": {}\n    },\n    {\n      \"key\": \"7\",\n      \"name\": \"OSRFX\",\n      \"values\": {\n        \"YTD\": 12.36,\n        \"Short Term (1 Yr)\": 37.28,\n        \"Mid Term (3 Yr)\": 18.55,\n        \"Long Term (10 Yr)\": 13.39,\n        \"Net Expense\": 0.85,\n        \"Morningstar Rating\": 4,\n        \"Manager Tenure\": 2,\n        \"Assets\": 598.17,\n        \"Risk (Beta)\": 1.06\n      },\n      \"description_html\": \"Select Transportation Portfolio\",\n      \"app_data\": {}\n    },\n    {\n      \"key\": \"8\",\n      \"name\": \"OSHOX\",\n      \"values\": {\n        \"YTD\": 1.5,\n        \"Short Term (1 Yr)\": 6.42,\n        \"Mid Term (3 Yr)\": 18.2,\n        \"Long Term (10 Yr)\": 9.33,\n        \"Net Expense\": 0.81,\n        \"Morningstar Rating\": 2,\n        \"Manager Tenure\": 2,\n        \"Assets\": 335.79,\n        \"Risk (Beta)\": 1.25\n      },\n      \"description_html\": \"Select Construction and Housing Portfolio\",\n      \"app_data\": {}\n    },\n    {\n      \"key\": \"9\",\n      \"name\": \"OSVLX\",\n      \"values\": {\n        \"YTD\": 1.33,\n        \"Short Term (1 Yr)\": 13.85,\n        \"Mid Term (3 Yr)\": 17.89,\n        \"Long Term (10 Yr)\": -5.56,\n        \"Net Expense\": 0.85,\n        \"Morningstar Rating\": 3,\n        \"Manager Tenure\": 2,\n        \"Assets\": 182.3,\n        \"Risk (Beta)\": 0.98\n      },\n      \"description_html\": \"Select Consumer Finance Portfolio\",\n      \"app_data\": {}\n    },\n    {\n      \"key\": \"10\",\n      \"name\": \"OBSOX\",\n      \"values\": {\n        \"YTD\": -3.11,\n        \"Short Term (1 Yr)\": 22.98,\n        \"Mid Term (3 Yr)\": 17.85,\n        \"Long Term (10 Yr)\": 13.16,\n        \"Net Expense\": 0.84,\n        \"Morningstar Rating\": 5,\n        \"Manager Tenure\": 5,\n        \"Assets\": 1193.62,\n        \"Risk (Beta)\": 1.23\n      },\n      \"description_html\": \"Select IT Services Portfolio\",\n      \"app_data\": {}\n    },\n    {\n      \"key\": \"11\",\n      \"name\": \"OSDAX\",\n      \"values\": {\n        \"YTD\": 1.46,\n        \"Short Term (1 Yr)\": 26.87,\n        \"Mid Term (3 Yr)\": 17.61,\n        \"Long Term (10 Yr)\": 12.63,\n        \"Net Expense\": 0.81,\n        \"Morningstar Rating\": 4,\n        \"Manager Tenure\": 2,\n        \"Assets\": 897.41,\n        \"Risk (Beta)\": 0.95\n      },\n      \"description_html\": \"Select Defense and Aerospace Portfolio\",\n      \"app_data\": {}\n    },\n    {\n      \"key\": \"12\",\n      \"name\": \"OSCPX\",\n      \"values\": {\n        \"YTD\": 0.42,\n        \"Short Term (1 Yr)\": 19.5,\n        \"Mid Term (3 Yr)\": 17.14,\n        \"Long Term (10 Yr)\": 8.78,\n        \"Net Expense\": 0.82,\n        \"Morningstar Rating\": 3,\n        \"Manager Tenure\": 2,\n        \"Assets\": 885.83,\n        \"Risk (Beta)\": 1.09\n      },\n      \"description_html\": \"Select Consumer Discretionary Portfolio\",\n      \"app_data\": {}\n    },\n    {\n      \"key\": \"13\",\n      \"name\": \"OLCSX\",\n      \"values\": {\n        \"YTD\": 5.67,\n        \"Short Term (1 Yr)\": 22.93,\n        \"Mid Term (3 Yr)\": 17.07,\n        \"Long Term (10 Yr)\": 8.88,\n        \"Net Expense\": 0.85,\n        \"Morningstar Rating\": 4,\n        \"Manager Tenure\": 9,\n        \"Assets\": 2950.25,\n        \"Risk (Beta)\": 1.13\n      },\n      \"description_html\": \"OpenWealth Large Cap Stock Fund\",\n      \"app_data\": {}\n    },\n    {\n      \"key\": \"14\",\n      \"name\": \"OSPCX\",\n      \"values\": {\n        \"YTD\": 2.41,\n        \"Short Term (1 Yr)\": 18.68,\n        \"Mid Term (3 Yr)\": 16.45,\n        \"Long Term (10 Yr)\": 5.24,\n        \"Net Expense\": 0.83,\n        \"Morningstar Rating\": 4,\n        \"Manager Tenure\": 0,\n        \"Assets\": 410.67,\n        \"Risk (Beta)\": 1.12\n      },\n      \"description_html\": \"Select Insurance Portfolio\",\n      \"app_data\": {}\n    },\n    {\n      \"key\": \"15\",\n      \"name\": \"OSCHX\",\n      \"values\": {\n        \"YTD\": 6.55,\n        \"Short Term (1 Yr)\": 25.98,\n        \"Mid Term (3 Yr)\": 16.41,\n        \"Long Term (10 Yr)\": 15.86,\n        \"Net Expense\": 0.81,\n        \"Morningstar Rating\": 5,\n        \"Manager Tenure\": 4,\n        \"Assets\": 1651.79,\n        \"Risk (Beta)\": 1.38\n      },\n      \"description_html\": \"Select Chemicals Portfolio\",\n      \"app_data\": {}\n    },\n    {\n      \"key\": \"16\",\n      \"name\": \"ODLSX\",\n      \"values\": {\n        \"YTD\": 0.76,\n        \"Short Term (1 Yr)\": 20.77,\n        \"Mid Term (3 Yr)\": 16.3,\n        \"Long Term (10 Yr)\": 11.18,\n        \"Net Expense\": 0.82,\n        \"Morningstar Rating\": 3,\n        \"Manager Tenure\": 0,\n        \"Assets\": 539.66,\n        \"Risk (Beta)\": 1.13\n      },\n      \"description_html\": \"Select Leisure Portfolio\",\n      \"app_data\": {}\n    },\n    {\n      \"key\": \"17\",\n      \"name\": \"OGRIX\",\n      \"values\": {\n        \"YTD\": 5.27,\n        \"Short Term (1 Yr)\": 18.5,\n        \"Mid Term (3 Yr)\": 16.08,\n        \"Long Term (10 Yr)\": 3.76,\n        \"Net Expense\": 0.69,\n        \"Morningstar Rating\": 3,\n        \"Manager Tenure\": 3,\n        \"Assets\": 6569.27,\n        \"Risk (Beta)\": 1.02\n      },\n      \"description_html\": \"OpenWealth Growth & Income Portfolio\",\n      \"app_data\": {}\n    },\n    {\n      \"key\": \"18\",\n      \"name\": \"OLCEX\",\n      \"values\": {\n        \"YTD\": 5.22,\n        \"Short Term (1 Yr)\": 21.55,\n        \"Mid Term (3 Yr)\": 15.92,\n        \"Net Expense\": 0.46,\n        \"Morningstar Rating\": 4,\n        \"Manager Tenure\": 7,\n        \"Assets\": 485.36,\n        \"Risk (Beta)\": 0.98\n      },\n      \"description_html\": \"OpenWealth Large Cap Core Enhanced Index Fund\",\n      \"app_data\": {}\n    },\n    {\n      \"key\": \"19\",\n      \"name\": \"ONCMX\",\n      \"values\": {\n        \"YTD\": 3.95,\n        \"Short Term (1 Yr)\": 24.07,\n        \"Mid Term (3 Yr)\": 15.65,\n        \"Long Term (10 Yr)\": 8.7,\n        \"Net Expense\": 0.29,\n        \"Morningstar Rating\": 4,\n        \"Manager Tenure\": 11,\n        \"Assets\": 826.93,\n        \"Risk (Beta)\": 1\n      },\n      \"description_html\": \"OpenWealth Nasdaq Composite Index Fund\",\n      \"app_data\": {}\n    },\n    {\n      \"key\": \"20\",\n      \"name\": \"ODCAX\",\n      \"values\": {\n        \"YTD\": 2.1,\n        \"Short Term (1 Yr)\": 19.78,\n        \"Mid Term (3 Yr)\": 15.57,\n        \"Long Term (10 Yr)\": 8.28,\n        \"Net Expense\": 0.79,\n        \"Morningstar Rating\": 3,\n        \"Manager Tenure\": 9,\n        \"Assets\": 5876.06,\n        \"Risk (Beta)\": 1.03\n      },\n      \"description_html\": \"OpenWealth Capital Appreciation Fund\",\n      \"app_data\": {}\n    },\n    {\n      \"key\": \"21\",\n      \"name\": \"OMILX\",\n      \"values\": {\n        \"YTD\": 5.44,\n        \"Short Term (1 Yr)\": 22.38,\n        \"Mid Term (3 Yr)\": 15.56,\n        \"Long Term (10 Yr)\": 10.35,\n        \"Net Expense\": 0.91,\n        \"Morningstar Rating\": 5,\n        \"Manager Tenure\": 8,\n        \"Assets\": 3654.53,\n        \"Risk (Beta)\": 0.95\n      },\n      \"description_html\": \"OpenWealth New Millennium Fund\",\n      \"app_data\": {}\n    },\n    {\n      \"key\": \"22\",\n      \"name\": \"OSUTX\",\n      \"values\": {\n        \"YTD\": 16.09,\n        \"Short Term (1 Yr)\": 26.83,\n        \"Mid Term (3 Yr)\": 15.53,\n        \"Long Term (10 Yr)\": 10.91,\n        \"Net Expense\": 0.82,\n        \"Morningstar Rating\": 4,\n        \"Manager Tenure\": 8,\n        \"Assets\": 924.64,\n        \"Risk (Beta)\": 0.31\n      },\n      \"description_html\": \"Select Utilities Portfolio\",\n      \"app_data\": {}\n    },\n    {\n      \"key\": \"23\",\n      \"name\": \"OSMVX\",\n      \"values\": {\n        \"YTD\": 6.96,\n        \"Short Term (1 Yr)\": 22.74,\n        \"Mid Term (3 Yr)\": 15.09,\n        \"Long Term (10 Yr)\": 10.26,\n        \"Net Expense\": 0.8,\n        \"Morningstar Rating\": 4,\n        \"Manager Tenure\": 1,\n        \"Assets\": 1558.99,\n        \"Risk (Beta)\": 1.06\n      },\n      \"description_html\": \"OpenWealth Mid Cap Value Fund\",\n      \"app_data\": {}\n    },\n    {\n      \"key\": \"24\",\n      \"name\": \"OUSEX\",\n      \"values\": {\n        \"YTD\": 5.8,\n        \"Short Term (1 Yr)\": 20.33,\n        \"Mid Term (3 Yr)\": 15.04,\n        \"Long Term (10 Yr)\": 7.7,\n        \"Net Expense\": 0.1,\n        \"Morningstar Rating\": 4,\n        \"Manager Tenure\": 11,\n        \"Assets\": 5922.78,\n        \"Risk (Beta)\": 1\n      },\n      \"description_html\": \"Spartan 500 Index Fund - Investor Class\",\n      \"app_data\": {}\n    },\n    {\n      \"key\": \"25\",\n      \"name\": \"OSRBX\",\n      \"values\": {\n        \"YTD\": 2.06,\n        \"Short Term (1 Yr)\": 19.83,\n        \"Mid Term (3 Yr)\": 14.97,\n        \"Long Term (10 Yr)\": 1.63,\n        \"Net Expense\": 0.81,\n        \"Morningstar Rating\": 3,\n        \"Manager Tenure\": 2,\n        \"Assets\": 696.38,\n        \"Risk (Beta)\": 1.21\n      },\n      \"description_html\": \"Select Banking Portfolio\",\n      \"app_data\": {}\n    },\n    {\n      \"key\": \"26\",\n      \"name\": \"OMEIX\",\n      \"values\": {\n        \"YTD\": 5.35,\n        \"Short Term (1 Yr)\": 24.48,\n        \"Mid Term (3 Yr)\": 14.96,\n        \"Net Expense\": 0.62,\n        \"Morningstar Rating\": 5,\n        \"Manager Tenure\": 6,\n        \"Assets\": 296.42,\n        \"Risk (Beta)\": 1.02\n      },\n      \"description_html\": \"OpenWealth Mid Cap Enhanced Index Fund\",\n      \"app_data\": {}\n    },\n    {\n      \"key\": \"27\",\n      \"name\": \"ODVLX\",\n      \"values\": {\n        \"YTD\": 7.44,\n        \"Short Term (1 Yr)\": 22.39,\n        \"Mid Term (3 Yr)\": 14.82,\n        \"Long Term (10 Yr)\": 9.28,\n        \"Net Expense\": 0.67,\n        \"Morningstar Rating\": 3,\n        \"Manager Tenure\": 4,\n        \"Assets\": 7842.85,\n        \"Risk (Beta)\": 1.08\n      },\n      \"description_html\": \"OpenWealth Value Fund\",\n      \"app_data\": {}\n    },\n    {\n      \"key\": \"28\",\n      \"name\": \"OJSCX\",\n      \"values\": {\n        \"YTD\": -2.16,\n        \"Short Term (1 Yr)\": 9.9,\n        \"Mid Term (3 Yr)\": 14.77,\n        \"Long Term (10 Yr)\": 2.9,\n        \"Net Expense\": 1.01,\n        \"Morningstar Rating\": 3,\n        \"Manager Tenure\": 0,\n        \"Assets\": 448.68,\n        \"Risk (Beta)\": 1.26\n      },\n      \"description_html\": \"OpenWealth Japan Smaller Companies Fund\",\n      \"app_data\": {}\n    },\n    {\n      \"key\": \"29\",\n      \"name\": \"OSTMX\",\n      \"values\": {\n        \"YTD\": 5.42,\n        \"Short Term (1 Yr)\": 20.25,\n        \"Mid Term (3 Yr)\": 14.71,\n        \"Long Term (10 Yr)\": 8.28,\n        \"Net Expense\": 0.1,\n        \"Morningstar Rating\": 4,\n        \"Manager Tenure\": 11,\n        \"Assets\": 1735.05,\n        \"Risk (Beta)\": 1\n      },\n      \"description_html\": \"Spartan Total Market Index Fund - Investor Class\",\n      \"app_data\": {}\n    },\n    {\n      \"key\": \"30\",\n      \"name\": \"OSLVX\",\n      \"values\": {\n        \"YTD\": 8.2,\n        \"Short Term (1 Yr)\": 20.04,\n        \"Mid Term (3 Yr)\": 14.52,\n        \"Long Term (10 Yr)\": 6.69,\n        \"Net Expense\": 0.72,\n        \"Morningstar Rating\": 3,\n        \"Manager Tenure\": 3,\n        \"Assets\": 600.63,\n        \"Risk (Beta)\": 1.01\n      },\n      \"description_html\": \"OpenWealth Stock Selector Large Cap Value Fund\",\n      \"app_data\": {}\n    },\n    {\n      \"key\": \"31\",\n      \"name\": \"OCYIX\",\n      \"values\": {\n        \"YTD\": 3.07,\n        \"Short Term (1 Yr)\": 23.42,\n        \"Mid Term (3 Yr)\": 14.51,\n        \"Long Term (10 Yr)\": 12.52,\n        \"Net Expense\": 0.81,\n        \"Morningstar Rating\": 3,\n        \"Manager Tenure\": 7,\n        \"Assets\": 1478.96,\n        \"Risk (Beta)\": 1.22\n      },\n      \"description_html\": \"Select Industrials Portfolio\",\n      \"app_data\": {}\n    },\n    {\n      \"key\": \"32\",\n      \"name\": \"OIUIX\",\n      \"values\": {\n        \"YTD\": 11.33,\n        \"Short Term (1 Yr)\": 24.27,\n        \"Mid Term (3 Yr)\": 14.4,\n        \"Long Term (10 Yr)\": 10.54,\n        \"Net Expense\": 0.76,\n        \"Morningstar Rating\": 4,\n        \"Manager Tenure\": 9,\n        \"Assets\": 995.26,\n        \"Risk (Beta)\": 0.41\n      },\n      \"description_html\": \"OpenWealth Telecom and Utilities Fund\",\n      \"app_data\": {}\n    },\n    {\n      \"key\": \"33\",\n      \"name\": \"OCNTX\",\n      \"values\": {\n        \"YTD\": 2.6,\n        \"Short Term (1 Yr)\": 20.62,\n        \"Mid Term (3 Yr)\": 14.39,\n        \"Long Term (10 Yr)\": 9.99,\n        \"Net Expense\": 0.67,\n        \"Morningstar Rating\": 4,\n        \"Manager Tenure\": 24,\n        \"Assets\": 75259.3,\n        \"Risk (Beta)\": 0.96\n      },\n      \"description_html\": \"OpenWealth Contrafund\",\n      \"app_data\": {}\n    },\n    {\n      \"key\": \"34\",\n      \"name\": \"OTQGX\",\n      \"values\": {\n        \"YTD\": 3.55,\n        \"Short Term (1 Yr)\": 22.75,\n        \"Mid Term (3 Yr)\": 14.32,\n        \"Long Term (10 Yr)\": 11.13,\n        \"Net Expense\": 0.91,\n        \"Morningstar Rating\": 4,\n        \"Manager Tenure\": 7,\n        \"Assets\": 1974.68,\n        \"Risk (Beta)\": 1.04\n      },\n      \"description_html\": \"OpenWealth Focused Stock Fund\",\n      \"app_data\": {}\n    },\n    {\n      \"key\": \"35\",\n      \"name\": \"ODFAX\",\n      \"values\": {\n        \"YTD\": 5.85,\n        \"Short Term (1 Yr)\": 14.14,\n        \"Mid Term (3 Yr)\": 14.11,\n        \"Long Term (10 Yr)\": 11.54,\n        \"Net Expense\": 0.79,\n        \"Morningstar Rating\": 3,\n        \"Manager Tenure\": 10,\n        \"Assets\": 1419.5,\n        \"Risk (Beta)\": 0.72\n      },\n      \"description_html\": \"Select Consumer Staples Portfolio\",\n      \"app_data\": {}\n    },\n    {\n      \"key\": \"36\",\n      \"name\": \"OLPSX\",\n      \"values\": {\n        \"YTD\": 3.36,\n        \"Short Term (1 Yr)\": 18.86,\n        \"Mid Term (3 Yr)\": 14.03,\n        \"Long Term (10 Yr)\": 10.5,\n        \"Net Expense\": 0.8,\n        \"Morningstar Rating\": 4,\n        \"Manager Tenure\": 3,\n        \"Assets\": 31060.89,\n        \"Risk (Beta)\": 0.77\n      },\n      \"description_html\": \"OpenWealth Low-Priced Stock Fund\",\n      \"app_data\": {}\n    },\n    {\n      \"key\": \"37\",\n      \"name\": \"OMCSX\",\n      \"values\": {\n        \"YTD\": 5.18,\n        \"Short Term (1 Yr)\": 22.92,\n        \"Mid Term (3 Yr)\": 13.95,\n        \"Long Term (10 Yr)\": 9.8,\n        \"Net Expense\": 0.66,\n        \"Morningstar Rating\": 4,\n        \"Manager Tenure\": 3,\n        \"Assets\": 6044.25,\n        \"Risk (Beta)\": 0.87\n      },\n      \"description_html\": \"OpenWealth Mid-Cap Stock Fund\",\n      \"app_data\": {}\n    },\n    {\n      \"key\": \"38\",\n      \"name\": \"OCPEX\",\n      \"values\": {\n        \"YTD\": 0.09,\n        \"Short Term (1 Yr)\": 18.18,\n        \"Mid Term (3 Yr)\": 13.58,\n        \"Net Expense\": 0.73,\n        \"Morningstar Rating\": 3,\n        \"Manager Tenure\": 6,\n        \"Assets\": 403.61,\n        \"Risk (Beta)\": 1.01\n      },\n      \"description_html\": \"OpenWealth Small Cap Enhanced Index Fund\",\n      \"app_data\": {}\n    },\n    {\n      \"key\": \"39\",\n      \"name\": \"OSEMX\",\n      \"values\": {\n        \"YTD\": 3.87,\n        \"Short Term (1 Yr)\": 20.1,\n        \"Mid Term (3 Yr)\": 13.28,\n        \"Long Term (10 Yr)\": 10.19,\n        \"Net Expense\": 0.1,\n        \"Morningstar Rating\": 4,\n        \"Manager Tenure\": 11,\n        \"Assets\": 1810.05,\n        \"Risk (Beta)\": 1\n      },\n      \"description_html\": \"Spartan Extended Market Index Fund - Investor Class\",\n      \"app_data\": {}\n    },\n    {\n      \"key\": \"40\",\n      \"name\": \"ONORX\",\n      \"values\": {\n        \"YTD\": 8.58,\n        \"Short Term (1 Yr)\": 41.07,\n        \"Mid Term (3 Yr)\": 13.25,\n        \"Long Term (10 Yr)\": 12.49,\n        \"Net Expense\": 1.04,\n        \"Manager Tenure\": 3,\n        \"Assets\": 629.18,\n        \"Risk (Beta)\": 0.91\n      },\n      \"description_html\": \"OpenWealth Nordic Fund\",\n      \"app_data\": {}\n    },\n    {\n      \"key\": \"41\",\n      \"name\": \"OSSMX\",\n      \"values\": {\n        \"YTD\": 5.12,\n        \"Short Term (1 Yr)\": 18.53,\n        \"Mid Term (3 Yr)\": 13,\n        \"Long Term (10 Yr)\": 7.86,\n        \"Net Expense\": 0.72,\n        \"Manager Tenure\": 3,\n        \"Assets\": 232.33,\n        \"Risk (Beta)\": 0.94\n      },\n      \"description_html\": \"OpenWealth Stock Selector Mid Cap Fund\",\n      \"app_data\": {}\n    },\n    {\n      \"key\": \"42\",\n      \"name\": \"OSLBX\",\n      \"values\": {\n        \"YTD\": -3.33,\n        \"Short Term (1 Yr)\": 13,\n        \"Mid Term (3 Yr)\": 12.81,\n        \"Long Term (10 Yr)\": 8.01,\n        \"Net Expense\": 1.42,\n        \"Morningstar Rating\": 3,\n        \"Manager Tenure\": 1,\n        \"Assets\": 634.91,\n        \"Risk (Beta)\": 1.54\n      },\n      \"description_html\": \"Select Brokerage and Investment Management Portfolio\",\n      \"app_data\": {}\n    },\n    {\n      \"key\": \"43\",\n      \"name\": \"OSLSX\",\n      \"values\": {\n        \"YTD\": 4.47,\n        \"Short Term (1 Yr)\": 17.72,\n        \"Mid Term (3 Yr)\": 12.28,\n        \"Long Term (10 Yr)\": 8,\n        \"Net Expense\": 0.73,\n        \"Morningstar Rating\": 2,\n        \"Manager Tenure\": 4,\n        \"Assets\": 734.19,\n        \"Risk (Beta)\": 1.12\n      },\n      \"description_html\": \"OpenWealth Value Strategies Fund\",\n      \"app_data\": {}\n    },\n    {\n      \"key\": \"44\",\n      \"name\": \"OSDIX\",\n      \"values\": {\n        \"YTD\": 8.12,\n        \"Short Term (1 Yr)\": 13.58,\n        \"Mid Term (3 Yr)\": 11.98,\n        \"Long Term (10 Yr)\": 7.68,\n        \"Net Expense\": 0.77,\n        \"Morningstar Rating\": 4,\n        \"Manager Tenure\": 10,\n        \"Assets\": 2680.88,\n        \"Risk (Beta)\": 0.69\n      },\n      \"description_html\": \"OpenWealth Strategic Dividend & Income Fund\",\n      \"app_data\": {}\n    },\n    {\n      \"key\": \"45\",\n      \"name\": \"OIDSX\",\n      \"values\": {\n        \"YTD\": 1.78,\n        \"Short Term (1 Yr)\": 15.52,\n        \"Mid Term (3 Yr)\": 11.58,\n        \"Long Term (10 Yr)\": 0.98,\n        \"Net Expense\": 0.86,\n        \"Morningstar Rating\": 2,\n        \"Manager Tenure\": 1,\n        \"Assets\": 1184.9,\n        \"Risk (Beta)\": 1.39\n      },\n      \"description_html\": \"Select Financial Services Portfolio\",\n      \"app_data\": {}\n    },\n    {\n      \"key\": \"46\",\n      \"name\": \"OSCOX\",\n      \"values\": {\n        \"YTD\": 5.59,\n        \"Short Term (1 Yr)\": 20.18,\n        \"Mid Term (3 Yr)\": 11.26,\n        \"Net Expense\": 1.39,\n        \"Morningstar Rating\": 4,\n        \"Manager Tenure\": 6,\n        \"Assets\": 627.54,\n        \"Risk (Beta)\": 0.86\n      },\n      \"description_html\": \"OpenWealth International Small Cap Opportunities Fund\",\n      \"app_data\": {}\n    },\n    {\n      \"key\": \"47\",\n      \"name\": \"OWWFX\",\n      \"values\": {\n        \"YTD\": 2.36,\n        \"Short Term (1 Yr)\": 19.29,\n        \"Mid Term (3 Yr)\": 11.16,\n        \"Long Term (10 Yr)\": 8.86,\n        \"Net Expense\": 1.11,\n        \"Morningstar Rating\": 4,\n        \"Manager Tenure\": 7,\n        \"Assets\": 1613.41,\n        \"Risk (Beta)\": 1.01\n      },\n      \"description_html\": \"OpenWealth Worldwide Fund\",\n      \"app_data\": {}\n    },\n    {\n      \"key\": \"48\",\n      \"name\": \"OWRLX\",\n      \"values\": {\n        \"YTD\": 1.64,\n        \"Short Term (1 Yr)\": 22.28,\n        \"Mid Term (3 Yr)\": 10.96,\n        \"Long Term (10 Yr)\": 10.5,\n        \"Net Expense\": 0.88,\n        \"Morningstar Rating\": 4,\n        \"Manager Tenure\": 1,\n        \"Assets\": 288.78,\n        \"Risk (Beta)\": 0.78\n      },\n      \"description_html\": \"Select Wireless Portfolio\",\n      \"app_data\": {}\n    },\n    {\n      \"key\": \"49\",\n      \"name\": \"ODCPX\",\n      \"values\": {\n        \"YTD\": 4.57,\n        \"Short Term (1 Yr)\": 15.98,\n        \"Mid Term (3 Yr)\": 10.86,\n        \"Long Term (10 Yr)\": 9.07,\n        \"Net Expense\": 0.82,\n        \"Morningstar Rating\": 3,\n        \"Manager Tenure\": 1,\n        \"Assets\": 639.63,\n        \"Risk (Beta)\": 1.29\n      },\n      \"description_html\": \"Select Computers Portfolio\",\n      \"app_data\": {}\n    },\n    {\n      \"key\": \"50\",\n      \"name\": \"OSELX\",\n      \"values\": {\n        \"YTD\": 22.95,\n        \"Short Term (1 Yr)\": 35.45,\n        \"Mid Term (3 Yr)\": 10.85,\n        \"Long Term (10 Yr)\": 6.18,\n        \"Net Expense\": 0.82,\n        \"Morningstar Rating\": 2,\n        \"Manager Tenure\": 1,\n        \"Assets\": 1556.31,\n        \"Risk (Beta)\": 1.26\n      },\n      \"description_html\": \"Select Electronics Portfolio\",\n      \"app_data\": {}\n    },\n    {\n      \"key\": \"51\",\n      \"name\": \"OCPGX\",\n      \"values\": {\n        \"YTD\": -1.61,\n        \"Short Term (1 Yr)\": 16.71,\n        \"Mid Term (3 Yr)\": 10.81,\n        \"Net Expense\": 0.9,\n        \"Morningstar Rating\": 3,\n        \"Manager Tenure\": 3,\n        \"Assets\": 1103.16,\n        \"Risk (Beta)\": 0.96\n      },\n      \"description_html\": \"OpenWealth Small Cap Growth Fund\",\n      \"app_data\": {}\n    },\n    {\n      \"key\": \"52\",\n      \"name\": \"OBALX\",\n      \"values\": {\n        \"YTD\": 4.96,\n        \"Short Term (1 Yr)\": 15.46,\n        \"Mid Term (3 Yr)\": 10.75,\n        \"Long Term (10 Yr)\": 7.92,\n        \"Net Expense\": 0.58,\n        \"Morningstar Rating\": 4,\n        \"Manager Tenure\": 6,\n        \"Assets\": 18801.71,\n        \"Risk (Beta)\": 0.67\n      },\n      \"description_html\": \"OpenWealth Balanced Fund\",\n      \"app_data\": {}\n    },\n    {\n      \"key\": \"53\",\n      \"name\": \"OPURX\",\n      \"values\": {\n        \"YTD\": 4.99,\n        \"Short Term (1 Yr)\": 15.77,\n        \"Mid Term (3 Yr)\": 10.54,\n        \"Long Term (10 Yr)\": 7.38,\n        \"Net Expense\": 0.58,\n        \"Morningstar Rating\": 4,\n        \"Manager Tenure\": 11,\n        \"Assets\": 17853.44,\n        \"Risk (Beta)\": 0.69\n      },\n      \"description_html\": \"OpenWealth Puritan Fund\",\n      \"app_data\": {}\n    },\n    {\n      \"key\": \"54\",\n      \"name\": \"OSPTX\",\n      \"values\": {\n        \"YTD\": 5.24,\n        \"Short Term (1 Yr)\": 23.87,\n        \"Mid Term (3 Yr)\": 10.34,\n        \"Long Term (10 Yr)\": 8.84,\n        \"Net Expense\": 0.8,\n        \"Morningstar Rating\": 3,\n        \"Manager Tenure\": 7,\n        \"Assets\": 2294.66,\n        \"Risk (Beta)\": 1.15\n      },\n      \"description_html\": \"Select Technology Portfolio\",\n      \"app_data\": {}\n    },\n    {\n      \"key\": \"55\",\n      \"name\": \"ODEGX\",\n      \"values\": {\n        \"YTD\": 4.42,\n        \"Short Term (1 Yr)\": 22.42,\n        \"Mid Term (3 Yr)\": 10.31,\n        \"Long Term (10 Yr)\": 6.6,\n        \"Net Expense\": 0.71,\n        \"Morningstar Rating\": 2,\n        \"Manager Tenure\": 1,\n        \"Assets\": 1662.79,\n        \"Risk (Beta)\": 1.07\n      },\n      \"description_html\": \"OpenWealth Growth Strategies Fund\",\n      \"app_data\": {}\n    },\n    {\n      \"key\": \"56\",\n      \"name\": \"ORESX\",\n      \"values\": {\n        \"YTD\": 15.41,\n        \"Short Term (1 Yr)\": 9.59,\n        \"Mid Term (3 Yr)\": 9.93,\n        \"Long Term (10 Yr)\": 9.73,\n        \"Net Expense\": 0.81,\n        \"Morningstar Rating\": 4,\n        \"Manager Tenure\": 16,\n        \"Assets\": 3937.46,\n        \"Risk (Beta)\": 0.97\n      },\n      \"description_html\": \"OpenWealth Real Estate Investment Portfolio\",\n      \"app_data\": {}\n    },\n    {\n      \"key\": \"57\",\n      \"name\": \"ORIFX\",\n      \"values\": {\n        \"YTD\": 8.44,\n        \"Short Term (1 Yr)\": 6.9,\n        \"Mid Term (3 Yr)\": 9.83,\n        \"Long Term (10 Yr)\": 7.46,\n        \"Net Expense\": 0.84,\n        \"Morningstar Rating\": 4,\n        \"Manager Tenure\": 11,\n        \"Assets\": 2660.6,\n        \"Risk (Beta)\": 0.35\n      },\n      \"description_html\": \"OpenWealth Real Estate Income Fund\",\n      \"app_data\": {}\n    },\n    {\n      \"key\": \"58\",\n      \"name\": \"OIREX\",\n      \"values\": {\n        \"YTD\": 6.19,\n        \"Short Term (1 Yr)\": 12.44,\n        \"Mid Term (3 Yr)\": 9.77,\n        \"Net Expense\": 1.16,\n        \"Morningstar Rating\": 3,\n        \"Manager Tenure\": 4,\n        \"Assets\": 338.37,\n        \"Risk (Beta)\": 1.07\n      },\n      \"description_html\": \"OpenWealth International Real Estate Fund\",\n      \"app_data\": {}\n    },\n    {\n      \"key\": \"59\",\n      \"name\": \"OSDPX\",\n      \"values\": {\n        \"YTD\": 5.39,\n        \"Short Term (1 Yr)\": 18.84,\n        \"Mid Term (3 Yr)\": 9.61,\n        \"Long Term (10 Yr)\": 13.82,\n        \"Net Expense\": 0.82,\n        \"Morningstar Rating\": 4,\n        \"Manager Tenure\": 6,\n        \"Assets\": 1274.76,\n        \"Risk (Beta)\": 1.41\n      },\n      \"description_html\": \"Select Materials Portfolio\",\n      \"app_data\": {}\n    },\n    {\n      \"key\": \"60\",\n      \"name\": \"OOSFX\",\n      \"values\": {\n        \"YTD\": 3.33,\n        \"Short Term (1 Yr)\": 21.17,\n        \"Mid Term (3 Yr)\": 9.29,\n        \"Long Term (10 Yr)\": 6.68,\n        \"Net Expense\": 1.09,\n        \"Morningstar Rating\": 3,\n        \"Manager Tenure\": 2,\n        \"Assets\": 3038.65,\n        \"Risk (Beta)\": 1.09\n      },\n      \"description_html\": \"OpenWealth Overseas Fund\",\n      \"app_data\": {}\n    },\n    {\n      \"key\": \"61\",\n      \"name\": \"OCVSX\",\n      \"values\": {\n        \"YTD\": 6.04,\n        \"Short Term (1 Yr)\": 15.14,\n        \"Mid Term (3 Yr)\": 9.15,\n        \"Long Term (10 Yr)\": 8.47,\n        \"Net Expense\": 0.73,\n        \"Morningstar Rating\": 3,\n        \"Manager Tenure\": 9,\n        \"Assets\": 2278.86,\n        \"Risk (Beta)\": 1.24\n      },\n      \"description_html\": \"OpenWealth Convertible Securities Fund\",\n      \"app_data\": {}\n    },\n    {\n      \"key\": \"62\",\n      \"name\": \"OIVFX\",\n      \"values\": {\n        \"YTD\": 3.04,\n        \"Short Term (1 Yr)\": 16.35,\n        \"Mid Term (3 Yr)\": 9.15,\n        \"Long Term (10 Yr)\": 6.45,\n        \"Net Expense\": 1.17,\n        \"Morningstar Rating\": 3,\n        \"Manager Tenure\": 6,\n        \"Assets\": 1037.91,\n        \"Risk (Beta)\": 1.06\n      },\n      \"description_html\": \"OpenWealth International Capital Appreciation Fund\",\n      \"app_data\": {}\n    },\n    {\n      \"key\": \"63\",\n      \"name\": \"OISMX\",\n      \"values\": {\n        \"YTD\": 1.61,\n        \"Short Term (1 Yr)\": 19.77,\n        \"Mid Term (3 Yr)\": 8.83,\n        \"Long Term (10 Yr)\": 10.46,\n        \"Net Expense\": 1.33,\n        \"Morningstar Rating\": 3,\n        \"Manager Tenure\": 0,\n        \"Assets\": 991.56,\n        \"Risk (Beta)\": 0.94\n      },\n      \"description_html\": \"OpenWealth International Small Cap Fund\",\n      \"app_data\": {}\n    },\n    {\n      \"key\": \"64\",\n      \"name\": \"OIEUX\",\n      \"values\": {\n        \"YTD\": 4.32,\n        \"Short Term (1 Yr)\": 21.21,\n        \"Mid Term (3 Yr)\": 8.8,\n        \"Long Term (10 Yr)\": 9.14,\n        \"Net Expense\": 1.06,\n        \"Morningstar Rating\": 3,\n        \"Manager Tenure\": 1,\n        \"Assets\": 1546.63,\n        \"Risk (Beta)\": 0.99\n      },\n      \"description_html\": \"OpenWealth Europe Fund\",\n      \"app_data\": {}\n    },\n    {\n      \"key\": \"65\",\n      \"name\": \"OPBFX\",\n      \"values\": {\n        \"YTD\": 3.51,\n        \"Short Term (1 Yr)\": 13.43,\n        \"Mid Term (3 Yr)\": 8.67,\n        \"Long Term (10 Yr)\": 10.19,\n        \"Net Expense\": 1.23,\n        \"Morningstar Rating\": 4,\n        \"Manager Tenure\": 1,\n        \"Assets\": 713.07,\n        \"Risk (Beta)\": 1.05\n      },\n      \"description_html\": \"OpenWealth Pacific Basin Fund\",\n      \"app_data\": {}\n    },\n    {\n      \"key\": \"66\",\n      \"name\": \"OSTCX\",\n      \"values\": {\n        \"YTD\": 2.02,\n        \"Short Term (1 Yr)\": 15.37,\n        \"Mid Term (3 Yr)\": 8.62,\n        \"Long Term (10 Yr)\": 8.37,\n        \"Net Expense\": 0.85,\n        \"Morningstar Rating\": 3,\n        \"Manager Tenure\": 1,\n        \"Assets\": 416.38,\n        \"Risk (Beta)\": 0.7\n      },\n      \"description_html\": \"Select Telecommunications Portfolio\",\n      \"app_data\": {}\n    },\n    {\n      \"key\": \"67\",\n      \"name\": \"ONMIX\",\n      \"values\": {\n        \"YTD\": 9.24,\n        \"Short Term (1 Yr)\": 5.22,\n        \"Mid Term (3 Yr)\": 8.38,\n        \"Long Term (10 Yr)\": 10.35,\n        \"Net Expense\": 0.86,\n        \"Morningstar Rating\": 4,\n        \"Manager Tenure\": 19,\n        \"Assets\": 4796.72,\n        \"Risk (Beta)\": 0.98\n      },\n      \"description_html\": \"OpenWealth New Markets Income Fund\",\n      \"app_data\": {}\n    },\n    {\n      \"key\": \"68\",\n      \"name\": \"OIGFX\",\n      \"values\": {\n        \"YTD\": 1.07,\n        \"Short Term (1 Yr)\": 15.64,\n        \"Mid Term (3 Yr)\": 8.24,\n        \"Net Expense\": 1.13,\n        \"Morningstar Rating\": 5,\n        \"Manager Tenure\": 7,\n        \"Assets\": 556.11,\n        \"Risk (Beta)\": 0.93\n      },\n      \"description_html\": \"OpenWealth International Growth Fund\",\n      \"app_data\": {}\n    },\n    {\n      \"key\": \"69\",\n      \"name\": \"OSNGX\",\n      \"values\": {\n        \"YTD\": 19.98,\n        \"Short Term (1 Yr)\": 30.85,\n        \"Mid Term (3 Yr)\": 8.06,\n        \"Long Term (10 Yr)\": 10.65,\n        \"Net Expense\": 0.84,\n        \"Morningstar Rating\": 3,\n        \"Manager Tenure\": 1,\n        \"Assets\": 1145.7,\n        \"Risk (Beta)\": 1.31\n      },\n      \"description_html\": \"Select Natural Gas Portfolio\",\n      \"app_data\": {}\n    },\n    {\n      \"key\": \"70\",\n      \"name\": \"OLBIX\",\n      \"values\": {\n        \"YTD\": 11.15,\n        \"Short Term (1 Yr)\": 2.47,\n        \"Mid Term (3 Yr)\": 7.89,\n        \"Net Expense\": 0.2,\n        \"Morningstar Rating\": 3,\n        \"Manager Tenure\": 2,\n        \"Assets\": 21.69,\n        \"Risk (Beta)\": 1.02\n      },\n      \"description_html\": \"Spartan Long-Term Treasury Bond Index Fund - Investor Class\",\n      \"app_data\": {}\n    },\n    {\n      \"key\": \"71\",\n      \"name\": \"ODIVX\",\n      \"values\": {\n        \"YTD\": 2.17,\n        \"Short Term (1 Yr)\": 18.67,\n        \"Mid Term (3 Yr)\": 7.66,\n        \"Long Term (10 Yr)\": 7.19,\n        \"Net Expense\": 0.95,\n        \"Morningstar Rating\": 4,\n        \"Manager Tenure\": 13,\n        \"Assets\": 15053.34,\n        \"Risk (Beta)\": 0.98\n      },\n      \"description_html\": \"OpenWealth Diversified International Fund\",\n      \"app_data\": {}\n    },\n    {\n      \"key\": \"72\",\n      \"name\": \"OSPHIX\",\n      \"values\": {\n        \"YTD\": 4.05,\n        \"Short Term (1 Yr)\": 6.6,\n        \"Mid Term (3 Yr)\": 7.62,\n        \"Long Term (10 Yr)\": 8.3,\n        \"Net Expense\": 0.72,\n        \"Morningstar Rating\": 4,\n        \"Manager Tenure\": 14,\n        \"Assets\": 6417.52,\n        \"Risk (Beta)\": 1.05\n      },\n      \"description_html\": \"OpenWealth High Income Fund\",\n      \"app_data\": {}\n    },\n    {\n      \"key\": \"73\",\n      \"name\": \"OIGRX\",\n      \"values\": {\n        \"YTD\": 0.42,\n        \"Short Term (1 Yr)\": 15.55,\n        \"Mid Term (3 Yr)\": 7.44,\n        \"Long Term (10 Yr)\": 7.82,\n        \"Net Expense\": 1,\n        \"Morningstar Rating\": 4,\n        \"Manager Tenure\": 10,\n        \"Assets\": 8208.49,\n        \"Risk (Beta)\": 0.98\n      },\n      \"description_html\": \"OpenWealth International Discovery Fund\",\n      \"app_data\": {}\n    },\n    {\n      \"key\": \"74\",\n      \"name\": \"OAGIX\",\n      \"values\": {\n        \"YTD\": 6.27,\n        \"Short Term (1 Yr)\": 10.05,\n        \"Mid Term (3 Yr)\": 7.41,\n        \"Long Term (10 Yr)\": 9.83,\n        \"Net Expense\": 0.73,\n        \"Morningstar Rating\": 5,\n        \"Manager Tenure\": 11,\n        \"Assets\": 10548.92,\n        \"Risk (Beta)\": 1.23\n      },\n      \"description_html\": \"OpenWealth Capital & Income Fund\",\n      \"app_data\": {}\n    },\n    {\n      \"key\": \"75\",\n      \"name\": \"OSIIX\",\n      \"values\": {\n        \"YTD\": 4.38,\n        \"Short Term (1 Yr)\": 18.73,\n        \"Mid Term (3 Yr)\": 7.31,\n        \"Long Term (10 Yr)\": 7.12,\n        \"Net Expense\": 0.2,\n        \"Morningstar Rating\": 4,\n        \"Manager Tenure\": 11,\n        \"Assets\": 2777.67,\n        \"Risk (Beta)\": 0.99\n      },\n      \"description_html\": \"Spartan International Index Fund - Investor Class\",\n      \"app_data\": {}\n    },\n    {\n      \"key\": \"76\",\n      \"name\": \"OGBLX\",\n      \"values\": {\n        \"YTD\": 3.35,\n        \"Short Term (1 Yr)\": 13.5,\n        \"Mid Term (3 Yr)\": 6.94,\n        \"Long Term (10 Yr)\": 8.1,\n        \"Net Expense\": 1.02,\n        \"Morningstar Rating\": 3,\n        \"Manager Tenure\": 8,\n        \"Assets\": 601.31,\n        \"Risk (Beta)\": 0.63\n      },\n      \"description_html\": \"OpenWealth Global Balanced Fund\",\n      \"app_data\": {}\n    },\n    {\n      \"key\": \"77\",\n      \"name\": \"OCTFX\",\n      \"values\": {\n        \"YTD\": 5.94,\n        \"Short Term (1 Yr)\": 4.1,\n        \"Mid Term (3 Yr)\": 6.69,\n        \"Long Term (10 Yr)\": 4.97,\n        \"Net Expense\": 0.46,\n        \"Morningstar Rating\": 3,\n        \"Manager Tenure\": 8,\n        \"Assets\": 1678.49,\n        \"Risk (Beta)\": 1.05\n      },\n      \"description_html\": \"OpenWealth California Municipal Income Fund\",\n      \"app_data\": {}\n    },\n    {\n      \"key\": \"78\",\n      \"name\": \"OCBFX\",\n      \"values\": {\n        \"YTD\": 5.6,\n        \"Short Term (1 Yr)\": 4.91,\n        \"Mid Term (3 Yr)\": 6.52,\n        \"Net Expense\": 0.45,\n        \"Morningstar Rating\": 4,\n        \"Manager Tenure\": 4,\n        \"Assets\": 642.72,\n        \"Risk (Beta)\": 1.05\n      },\n      \"description_html\": \"OpenWealth Corporate Bond Fund\",\n      \"app_data\": {}\n    },\n    {\n      \"key\": \"79\",\n      \"name\": \"OTABX\",\n      \"values\": {\n        \"YTD\": 6.42,\n        \"Short Term (1 Yr)\": 3.68,\n        \"Mid Term (3 Yr)\": 6.21,\n        \"Long Term (10 Yr)\": 5.21,\n        \"Net Expense\": 0.47,\n        \"Morningstar Rating\": 4,\n        \"Manager Tenure\": 5,\n        \"Assets\": 2420.15,\n        \"Risk (Beta)\": 0.96\n      },\n      \"description_html\": \"OpenWealth Tax-Free Bond Fund\",\n      \"app_data\": {}\n    },\n    {\n      \"key\": \"80\",\n      \"name\": \"OSENX\",\n      \"values\": {\n        \"YTD\": 13.87,\n        \"Short Term (1 Yr)\": 21.9,\n        \"Mid Term (3 Yr)\": 6.02,\n        \"Long Term (10 Yr)\": 13.08,\n        \"Net Expense\": 0.8,\n        \"Morningstar Rating\": 4,\n        \"Manager Tenure\": 8,\n        \"Assets\": 2573.01,\n        \"Risk (Beta)\": 1.58\n      },\n      \"description_html\": \"Select Energy Portfolio\",\n      \"app_data\": {}\n    },\n    {\n      \"key\": \"81\",\n      \"name\": \"OHIGX\",\n      \"values\": {\n        \"YTD\": 6.34,\n        \"Short Term (1 Yr)\": 3.48,\n        \"Mid Term (3 Yr)\": 6.01,\n        \"Long Term (10 Yr)\": 4.98,\n        \"Net Expense\": 0.46,\n        \"Morningstar Rating\": 4,\n        \"Manager Tenure\": 4,\n        \"Assets\": 5561.61,\n        \"Risk (Beta)\": 1.06\n      },\n      \"description_html\": \"OpenWealth Municipal Income Fund\",\n      \"app_data\": {}\n    },\n    {\n      \"key\": \"82\",\n      \"name\": \"OJPNX\",\n      \"values\": {\n        \"YTD\": -1.66,\n        \"Short Term (1 Yr)\": 6.44,\n        \"Mid Term (3 Yr)\": 5.94,\n        \"Long Term (10 Yr)\": 2.48,\n        \"Net Expense\": 0.93,\n        \"Morningstar Rating\": 2,\n        \"Manager Tenure\": 0,\n        \"Assets\": 428.13,\n        \"Risk (Beta)\": 1.01\n      },\n      \"description_html\": \"OpenWealth Japan Fund\",\n      \"app_data\": {}\n    },\n    {\n      \"key\": \"83\",\n      \"name\": \"OPXTX\",\n      \"values\": {\n        \"YTD\": 5.46,\n        \"Short Term (1 Yr)\": 3.36,\n        \"Mid Term (3 Yr)\": 5.43,\n        \"Long Term (10 Yr)\": 4.7,\n        \"Net Expense\": 0.49,\n        \"Morningstar Rating\": 4,\n        \"Manager Tenure\": 12,\n        \"Assets\": 428.05,\n        \"Risk (Beta)\": 1.01\n      },\n      \"description_html\": \"OpenWealth Pennsylvania Municipal Income Fund\",\n      \"app_data\": {}\n    },\n    {\n      \"key\": \"84\",\n      \"name\": \"OTIEX\",\n      \"values\": {\n        \"YTD\": 1.95,\n        \"Short Term (1 Yr)\": 13.19,\n        \"Mid Term (3 Yr)\": 5.43,\n        \"Net Expense\": 1.09,\n        \"Morningstar Rating\": 4,\n        \"Manager Tenure\": 7,\n        \"Assets\": 345.66,\n        \"Risk (Beta)\": 0.95\n      },\n      \"description_html\": \"OpenWealth Total International Equity Fund\",\n      \"app_data\": {}\n    },\n    {\n      \"key\": \"85\",\n      \"name\": \"ONJHX\",\n      \"values\": {\n        \"YTD\": 5.58,\n        \"Short Term (1 Yr)\": 2.77,\n        \"Mid Term (3 Yr)\": 5.39,\n        \"Long Term (10 Yr)\": 4.67,\n        \"Net Expense\": 0.47,\n        \"Morningstar Rating\": 3,\n        \"Manager Tenure\": 5,\n        \"Assets\": 596.3,\n        \"Risk (Beta)\": 1.04\n      },\n      \"description_html\": \"OpenWealth New Jersey Municipal Income Fund\",\n      \"app_data\": {}\n    },\n    {\n      \"key\": \"86\",\n      \"name\": \"ODMMX\",\n      \"values\": {\n        \"YTD\": 5.63,\n        \"Short Term (1 Yr)\": 2.81,\n        \"Mid Term (3 Yr)\": 5.31,\n        \"Long Term (10 Yr)\": 4.79,\n        \"Net Expense\": 0.46,\n        \"Morningstar Rating\": 4,\n        \"Manager Tenure\": 4,\n        \"Assets\": 2091.08,\n        \"Risk (Beta)\": 1.12\n      },\n      \"description_html\": \"OpenWealth Massachusetts Municipal Income Fund\",\n      \"app_data\": {}\n    },\n    {\n      \"key\": \"87\",\n      \"name\": \"OOHFX\",\n      \"values\": {\n        \"YTD\": 5.92,\n        \"Short Term (1 Yr)\": 3.48,\n        \"Mid Term (3 Yr)\": 5.31,\n        \"Long Term (10 Yr)\": 4.77,\n        \"Net Expense\": 0.48,\n        \"Morningstar Rating\": 4,\n        \"Manager Tenure\": 8,\n        \"Assets\": 563.85,\n        \"Risk (Beta)\": 1.06\n      },\n      \"description_html\": \"OpenWealth Ohio Municipal Income Fund\",\n      \"app_data\": {}\n    },\n    {\n      \"key\": \"88\",\n      \"name\": \"OSICX\",\n      \"values\": {\n        \"YTD\": 5.33,\n        \"Short Term (1 Yr)\": 5.14,\n        \"Mid Term (3 Yr)\": 5.28,\n        \"Long Term (10 Yr)\": 7.49,\n        \"Net Expense\": 0.69,\n        \"Morningstar Rating\": 4,\n        \"Manager Tenure\": 3,\n        \"Assets\": 8661.23,\n        \"Risk (Beta)\": 0.65\n      },\n      \"description_html\": \"OpenWealth Strategic Income Fund\",\n      \"app_data\": {}\n    },\n    {\n      \"key\": \"89\",\n      \"name\": \"OTFMX\",\n      \"values\": {\n        \"YTD\": 5.53,\n        \"Short Term (1 Yr)\": 3.08,\n        \"Mid Term (3 Yr)\": 5.07,\n        \"Long Term (10 Yr)\": 4.7,\n        \"Net Expense\": 0.46,\n        \"Morningstar Rating\": 4,\n        \"Manager Tenure\": 12,\n        \"Assets\": 1655.96,\n        \"Risk (Beta)\": 1.05\n      },\n      \"description_html\": \"OpenWealth New York Municipal Income Fund\",\n      \"app_data\": {}\n    },\n    {\n      \"key\": \"90\",\n      \"name\": \"OMHTX\",\n      \"values\": {\n        \"YTD\": 5.1,\n        \"Short Term (1 Yr)\": 2.18,\n        \"Mid Term (3 Yr)\": 4.78,\n        \"Long Term (10 Yr)\": 4.49,\n        \"Net Expense\": 0.48,\n        \"Morningstar Rating\": 4,\n        \"Manager Tenure\": 8,\n        \"Assets\": 545.88,\n        \"Risk (Beta)\": 0.91\n      },\n      \"description_html\": \"OpenWealth Michigan Municipal Income Fund\",\n      \"app_data\": {}\n    },\n    {\n      \"key\": \"91\",\n      \"name\": \"OTBFX\",\n      \"values\": {\n        \"YTD\": 3.84,\n        \"Short Term (1 Yr)\": 3.46,\n        \"Mid Term (3 Yr)\": 4.44,\n        \"Long Term (10 Yr)\": 5.6,\n        \"Net Expense\": 0.45,\n        \"Morningstar Rating\": 4,\n        \"Manager Tenure\": 10,\n        \"Assets\": 13743.35,\n        \"Risk (Beta)\": 0.98\n      },\n      \"description_html\": \"OpenWealth Total Bond Fund\",\n      \"app_data\": {}\n    },\n    {\n      \"key\": \"92\",\n      \"name\": \"OICNX\",\n      \"values\": {\n        \"YTD\": 5.08,\n        \"Short Term (1 Yr)\": 3.01,\n        \"Mid Term (3 Yr)\": 4.38,\n        \"Long Term (10 Yr)\": 4.37,\n        \"Net Expense\": 0.48,\n        \"Morningstar Rating\": 4,\n        \"Manager Tenure\": 12,\n        \"Assets\": 434.82,\n        \"Risk (Beta)\": 0.97\n      },\n      \"description_html\": \"OpenWealth Connecticut Municipal Income Fund\",\n      \"app_data\": {}\n    },\n    {\n      \"key\": \"93\",\n      \"name\": \"OBNDX\",\n      \"values\": {\n        \"YTD\": 3.83,\n        \"Short Term (1 Yr)\": 3.13,\n        \"Mid Term (3 Yr)\": 4.25,\n        \"Long Term (10 Yr)\": 4.75,\n        \"Net Expense\": 0.45,\n        \"Morningstar Rating\": 4,\n        \"Manager Tenure\": 10,\n        \"Assets\": 5458.13,\n        \"Risk (Beta)\": 1.03\n      },\n      \"description_html\": \"OpenWealth Investment Grade Bond Fund\",\n      \"app_data\": {}\n    },\n    {\n      \"key\": \"94\",\n      \"name\": \"OLTMX\",\n      \"values\": {\n        \"YTD\": 4.14,\n        \"Short Term (1 Yr)\": 2.6,\n        \"Mid Term (3 Yr)\": 4.18,\n        \"Long Term (10 Yr)\": 4.29,\n        \"Net Expense\": 0.37,\n        \"Morningstar Rating\": 4,\n        \"Manager Tenure\": 4,\n        \"Assets\": 4125.69,\n        \"Risk (Beta)\": 0.74\n      },\n      \"description_html\": \"OpenWealth Intermediate Municipal Income Fund\",\n      \"app_data\": {}\n    },\n    {\n      \"key\": \"95\",\n      \"name\": \"OSESX\",\n      \"values\": {\n        \"YTD\": 14.79,\n        \"Short Term (1 Yr)\": 23.63,\n        \"Mid Term (3 Yr)\": 4.17,\n        \"Long Term (10 Yr)\": 12.4,\n        \"Net Expense\": 0.8,\n        \"Morningstar Rating\": 2,\n        \"Manager Tenure\": 0,\n        \"Assets\": 1152.08,\n        \"Risk (Beta)\": 1.75\n      },\n      \"description_html\": \"Select Energy Service Portfolio\",\n      \"app_data\": {}\n    },\n    {\n      \"key\": \"96\",\n      \"name\": \"OHKCX\",\n      \"values\": {\n        \"YTD\": -0.98,\n        \"Short Term (1 Yr)\": 9.36,\n        \"Mid Term (3 Yr)\": 3.65,\n        \"Long Term (10 Yr)\": 11.97,\n        \"Net Expense\": 1.02,\n        \"Morningstar Rating\": 5,\n        \"Manager Tenure\": 3,\n        \"Assets\": 1313.51,\n        \"Risk (Beta)\": 0.97\n      },\n      \"description_html\": \"OpenWealth China Region Fund\",\n      \"app_data\": {}\n    },\n    {\n      \"key\": \"97\",\n      \"name\": \"OIBIX\",\n      \"values\": {\n        \"YTD\": 3.11,\n        \"Short Term (1 Yr)\": 0.18,\n        \"Mid Term (3 Yr)\": 3.65,\n        \"Net Expense\": 0.2,\n        \"Morningstar Rating\": 4,\n        \"Manager Tenure\": 2,\n        \"Assets\": 111.81,\n        \"Risk (Beta)\": 1.02\n      },\n      \"description_html\": \"Spartan Intermediate Treasury Bond Index Fund - Investor Class\",\n      \"app_data\": {}\n    },\n    {\n      \"key\": \"98\",\n      \"name\": \"OBIDX\",\n      \"values\": {\n        \"YTD\": 3.33,\n        \"Short Term (1 Yr)\": 2.44,\n        \"Mid Term (3 Yr)\": 3.34,\n        \"Long Term (10 Yr)\": 4.63,\n        \"Net Expense\": 0.22,\n        \"Morningstar Rating\": 3,\n        \"Manager Tenure\": 2,\n        \"Assets\": 6203.48,\n        \"Risk (Beta)\": 1.03\n      },\n      \"description_html\": \"Spartan U.S. Bond Index Fund - Investor Class\",\n      \"app_data\": {}\n    },\n    {\n      \"key\": \"99\",\n      \"name\": \"OTHRX\",\n      \"values\": {\n        \"YTD\": 2.25,\n        \"Short Term (1 Yr)\": 2.14,\n        \"Mid Term (3 Yr)\": 3.23,\n        \"Long Term (10 Yr)\": 4.42,\n        \"Net Expense\": 0.45,\n        \"Morningstar Rating\": 3,\n        \"Manager Tenure\": 1,\n        \"Assets\": 3432.23,\n        \"Risk (Beta)\": 1.07\n      },\n      \"description_html\": \"OpenWealth Intermediate Bond Fund\",\n      \"app_data\": {}\n    },\n    {\n      \"key\": \"100\",\n      \"name\": \"OMSFX\",\n      \"values\": {\n        \"YTD\": 3.67,\n        \"Short Term (1 Yr)\": 3.06,\n        \"Mid Term (3 Yr)\": 3.2,\n        \"Long Term (10 Yr)\": 4.18,\n        \"Net Expense\": 0.45,\n        \"Morningstar Rating\": 2,\n        \"Manager Tenure\": 5,\n        \"Assets\": 804.05,\n        \"Risk (Beta)\": 1.08\n      },\n      \"description_html\": \"OpenWealth Mortgage Securities Fund\",\n      \"app_data\": {}\n    },\n    {\n      \"key\": \"101\",\n      \"name\": \"ONARX\",\n      \"values\": {\n        \"YTD\": 15.24,\n        \"Short Term (1 Yr)\": 20.85,\n        \"Mid Term (3 Yr)\": 3.18,\n        \"Long Term (10 Yr)\": 13.06,\n        \"Net Expense\": 0.84,\n        \"Morningstar Rating\": 3,\n        \"Manager Tenure\": 8,\n        \"Assets\": 1032.99,\n        \"Risk (Beta)\": 1.54\n      },\n      \"description_html\": \"Select Natural Resources Portfolio\",\n      \"app_data\": {}\n    },\n    {\n      \"key\": \"102\",\n      \"name\": \"OGMNX\",\n      \"values\": {\n        \"YTD\": 3.97,\n        \"Short Term (1 Yr)\": 3.08,\n        \"Mid Term (3 Yr)\": 3.05,\n        \"Long Term (10 Yr)\": 5.12,\n        \"Net Expense\": 0.45,\n        \"Morningstar Rating\": 5,\n        \"Manager Tenure\": 5,\n        \"Assets\": 6768.09,\n        \"Risk (Beta)\": 1.05\n      },\n      \"description_html\": \"OpenWealth GNMA Fund\",\n      \"app_data\": {}\n    },\n    {\n      \"key\": \"103\",\n      \"name\": \"OJRLX\",\n      \"values\": {\n        \"YTD\": 1.71,\n        \"Short Term (1 Yr)\": 1.65,\n        \"Mid Term (3 Yr)\": 3,\n        \"Long Term (10 Yr)\": 4.06,\n        \"Net Expense\": 0.45,\n        \"Manager Tenure\": 5,\n        \"Assets\": 44.43,\n        \"Risk (Beta)\": 1.9\n      },\n      \"description_html\": \"OpenWealth Limited Term Bond Fund\",\n      \"app_data\": {}\n    },\n    {\n      \"key\": \"104\",\n      \"name\": \"OGOVX\",\n      \"values\": {\n        \"YTD\": 2.89,\n        \"Short Term (1 Yr)\": 1.67,\n        \"Mid Term (3 Yr)\": 2.82,\n        \"Long Term (10 Yr)\": 4.61,\n        \"Net Expense\": 0.45,\n        \"Morningstar Rating\": 4,\n        \"Manager Tenure\": 5,\n        \"Assets\": 3227.47,\n        \"Risk (Beta)\": 0.8\n      },\n      \"description_html\": \"OpenWealth Government Income Fund\",\n      \"app_data\": {}\n    },\n    {\n      \"key\": \"105\",\n      \"name\": \"OCSTX\",\n      \"values\": {\n        \"YTD\": 1.98,\n        \"Short Term (1 Yr)\": 2.13,\n        \"Mid Term (3 Yr)\": 2.53,\n        \"Net Expense\": 0.49,\n        \"Morningstar Rating\": 3,\n        \"Manager Tenure\": 8,\n        \"Assets\": 730.1,\n        \"Risk (Beta)\": 0.4\n      },\n      \"description_html\": \"OpenWealth California Limited Term Tax-Free Bond Fund\",\n      \"app_data\": {}\n    },\n    {\n      \"key\": \"106\",\n      \"name\": \"OSTFX\",\n      \"values\": {\n        \"YTD\": 1.48,\n        \"Short Term (1 Yr)\": 1.51,\n        \"Mid Term (3 Yr)\": 2.13,\n        \"Long Term (10 Yr)\": 3.04,\n        \"Net Expense\": 0.48,\n        \"Morningstar Rating\": 4,\n        \"Manager Tenure\": 4,\n        \"Assets\": 3176.22,\n        \"Risk (Beta)\": 0.33\n      },\n      \"description_html\": \"OpenWealth Limited Term Municipal Income Fund\",\n      \"app_data\": {}\n    },\n    {\n      \"key\": \"107\",\n      \"name\": \"OSTGX\",\n      \"values\": {\n        \"YTD\": 1.43,\n        \"Short Term (1 Yr)\": 0.96,\n        \"Mid Term (3 Yr)\": 1.98,\n        \"Long Term (10 Yr)\": 3.94,\n        \"Net Expense\": 0.45,\n        \"Morningstar Rating\": 3,\n        \"Manager Tenure\": 2,\n        \"Assets\": 844.49,\n        \"Risk (Beta)\": 1.02\n      },\n      \"description_html\": \"OpenWealth Intermediate Government Income Fund\",\n      \"app_data\": {}\n    },\n    {\n      \"key\": \"108\",\n      \"name\": \"OICDX\",\n      \"values\": {\n        \"YTD\": 8.23,\n        \"Short Term (1 Yr)\": 14.58,\n        \"Mid Term (3 Yr)\": 1.37,\n        \"Long Term (10 Yr)\": 10.44,\n        \"Net Expense\": 0.87,\n        \"Manager Tenure\": 0,\n        \"Assets\": 2152.22,\n        \"Risk (Beta)\": 0.87\n      },\n      \"description_html\": \"OpenWealth Canada Fund\",\n      \"app_data\": {}\n    },\n    {\n      \"key\": \"109\",\n      \"name\": \"OSHBX\",\n      \"values\": {\n        \"YTD\": 0.67,\n        \"Short Term (1 Yr)\": 1.23,\n        \"Mid Term (3 Yr)\": 1.37,\n        \"Long Term (10 Yr)\": 2.29,\n        \"Net Expense\": 0.45,\n        \"Morningstar Rating\": 3,\n        \"Manager Tenure\": 7,\n        \"Assets\": 6419.44,\n        \"Risk (Beta)\": 1.44\n      },\n      \"description_html\": \"OpenWealth Short-Term Bond Fund\",\n      \"app_data\": {}\n    },\n    {\n      \"key\": \"110\",\n      \"name\": \"OSEAX\",\n      \"values\": {\n        \"YTD\": 5.32,\n        \"Short Term (1 Yr)\": 8.24,\n        \"Mid Term (3 Yr)\": 1.36,\n        \"Long Term (10 Yr)\": 11.52,\n        \"Net Expense\": 1.08,\n        \"Morningstar Rating\": 3,\n        \"Manager Tenure\": 5,\n        \"Assets\": 1079.14,\n        \"Risk (Beta)\": 0.99\n      },\n      \"description_html\": \"OpenWealth Emerging Asia Fund\",\n      \"app_data\": {}\n    },\n    {\n      \"key\": \"111\",\n      \"name\": \"OFXSX\",\n      \"values\": {\n        \"YTD\": 0.77,\n        \"Short Term (1 Yr)\": 0.84,\n        \"Mid Term (3 Yr)\": 1.03,\n        \"Long Term (10 Yr)\": 3.13,\n        \"Net Expense\": 0.45,\n        \"Morningstar Rating\": 4,\n        \"Manager Tenure\": 4,\n        \"Assets\": 368.51,\n        \"Risk (Beta)\": 0.94\n      },\n      \"description_html\": \"OpenWealth Limited Term Government Fund\",\n      \"app_data\": {}\n    },\n    {\n      \"key\": \"112\",\n      \"name\": \"OCONX\",\n      \"values\": {\n        \"YTD\": 0.13,\n        \"Short Term (1 Yr)\": 0.4,\n        \"Mid Term (3 Yr)\": 0.66,\n        \"Net Expense\": 0.4,\n        \"Morningstar Rating\": 3,\n        \"Manager Tenure\": 3,\n        \"Assets\": 1530.59,\n        \"Risk (Beta)\": -0.48\n      },\n      \"description_html\": \"OpenWealth Conservative Income Bond Fund\",\n      \"app_data\": {}\n    },\n    {\n      \"key\": \"113\",\n      \"name\": \"OEMKX\",\n      \"values\": {\n        \"YTD\": 5.44,\n        \"Short Term (1 Yr)\": 6.04,\n        \"Mid Term (3 Yr)\": -1.36,\n        \"Long Term (10 Yr)\": 10.87,\n        \"Net Expense\": 1.09,\n        \"Morningstar Rating\": 3,\n        \"Manager Tenure\": 2,\n        \"Assets\": 2273.34,\n        \"Risk (Beta)\": 0.97\n      },\n      \"description_html\": \"OpenWealth Emerging Markets Fund\",\n      \"app_data\": {}\n    },\n    {\n      \"key\": \"114\",\n      \"name\": \"OSAGX\",\n      \"values\": {\n        \"YTD\": 19.76,\n        \"Short Term (1 Yr)\": -17.17,\n        \"Mid Term (3 Yr)\": -25.86,\n        \"Long Term (10 Yr)\": 3.67,\n        \"Net Expense\": 0.92,\n        \"Morningstar Rating\": 3,\n        \"Manager Tenure\": 7,\n        \"Assets\": 1084.35,\n        \"Risk (Beta)\": 0.44\n      },\n      \"description_html\": \"Select Gold Portfolio\",\n      \"app_data\": {}\n    }\n];\n\n context.global.options = msg.options;\nreturn msg;","outputs":1,"noerr":0,"x":336,"y":481,"wires":[[]]},{"id":"9856f754.ca7dd8","type":"http in","z":"f8118671.91e4e8","name":"","url":"/website","method":"get","swaggerDoc":"","x":110,"y":1002.25,"wires":[["77e330b5.53c098"]]},{"id":"caf45b6e.c23048","type":"http response","z":"f8118671.91e4e8","name":"","x":555,"y":1004.5,"wires":[]},{"id":"ac77d1a3.8c238","type":"template","z":"f8118671.91e4e8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the payload: {{payload}} !","x":403,"y":1003.75,"wires":[["caf45b6e.c23048"]]},{"id":"5e6e0e17.bbd018","type":"comment","z":"f8118671.91e4e8","name":"How to Build a Website","info":"","x":139,"y":955.75,"wires":[]},{"id":"77e330b5.53c098","type":"function","z":"f8118671.91e4e8","name":"","func":"msg.payload = \"###This is the payload###\";\nreturn msg;","outputs":1,"noerr":0,"x":259,"y":1002.75,"wires":[["ac77d1a3.8c238"]]},{"id":"c7e6b4db.e0caf","type":"business-rules","z":"f8118671.91e4e8","service":"","rulesets":"","ruleset":"","x":92,"y":1125.25,"wires":[[]]},{"id":"67553ded.afd3ec","type":"cloudant in","z":"a1eb4a85.734c1","name":"","cloudant":"","database":"acronyms","service":"new-node-red-demo-cloudantNoSQLDB","search":"_all_","design":"","index":"","x":310,"y":315.25,"wires":[["3b52d3d0.0cf09c"]]},{"id":"ee473fc7.e289d8","type":"function","z":"a1eb4a85.734c1","name":"Loop Message","func":"\n//lengther = copymessage.payload[0].payload.length;\nnode.error(\"Counter = \" + context.global.counter);\nmsg.payload = context.global.msg[context.global.counter];\ncontext.global.counter++;\n\nreturn msg;","outputs":1,"noerr":0,"x":681,"y":188.75,"wires":[["78dbc37c.5296cc"]]},{"id":"193f2af4.fda475","type":"debug","z":"a1eb4a85.734c1","name":"","active":false,"console":"false","complete":"payload","x":632,"y":319.5,"wires":[]},{"id":"e8dd8ca3.e0e8a8","type":"delay","z":"a1eb4a85.734c1","name":"","pauseType":"timed","timeout":"6","timeoutUnits":"seconds","rate":"1","nbRateUnits":"8","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":639,"y":80.75,"wires":[["ee473fc7.e289d8"]]},{"id":"3b52d3d0.0cf09c","type":"function","z":"a1eb4a85.734c1","name":"Add to Global Context","func":"//context.global.msg =  [\"Hello There\",\"Eat Doody\", \"You smell like a monkey\"];\ncontext.global.msg = msg.payload[0].payload;\ncontext.global.counter = 0;\nreturn msg;","outputs":1,"noerr":0,"x":592,"y":258.75,"wires":[["ee473fc7.e289d8"]]},{"id":"a19fac46.e5651","type":"http in","z":"a1eb4a85.734c1","name":"","url":"/microservices","method":"get","swaggerDoc":"","x":113,"y":153,"wires":[["f86f8047.f77eb","39bf7290.70b716"]]},{"id":"b36233bd.ec9f5","type":"http in","z":"a1eb4a85.734c1","name":"","url":"/acronyms","method":"get","swaggerDoc":"","x":104,"y":238,"wires":[["f86f8047.f77eb","efa68170.cc3e08"]]},{"id":"1d0c4c26.aadf44","type":"cloudant in","z":"a1eb4a85.734c1","name":"","cloudant":"","database":"learning","service":"new-node-red-demo-cloudantNoSQLDB","search":"_all_","design":"","index":"","x":484,"y":154,"wires":[["3b52d3d0.0cf09c"]]},{"id":"efa68170.cc3e08","type":"delay","z":"a1eb4a85.734c1","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":316,"y":236,"wires":[["67553ded.afd3ec"]]},{"id":"39bf7290.70b716","type":"delay","z":"a1eb4a85.734c1","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":321,"y":152,"wires":[["1d0c4c26.aadf44"]]},{"id":"902be697.d05648","type":"http in","z":"a1eb4a85.734c1","name":"","url":"/blockchain","method":"get","swaggerDoc":"","x":104,"y":372,"wires":[["89791167.b60ed8","f86f8047.f77eb"]]},{"id":"89791167.b60ed8","type":"delay","z":"a1eb4a85.734c1","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":312,"y":371,"wires":[["d7149ba4.71fe38"]]},{"id":"d7149ba4.71fe38","type":"cloudant in","z":"a1eb4a85.734c1","name":"","cloudant":"","database":"blockchain","service":"new-node-red-demo-cloudantNoSQLDB","search":"_all_","design":"","index":"","x":472,"y":373,"wires":[["3b52d3d0.0cf09c"]]},{"id":"d8129570.94417","type":"http in","z":"a1eb4a85.734c1","name":"","url":"/garage_method","method":"get","swaggerDoc":"","x":128,"y":431,"wires":[["7240ae41.91fbd","f86f8047.f77eb"]]},{"id":"7240ae41.91fbd","type":"delay","z":"a1eb4a85.734c1","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":320,"y":430,"wires":[["beb81071.04a75"]]},{"id":"beb81071.04a75","type":"cloudant in","z":"a1eb4a85.734c1","name":"","cloudant":"","database":"garage_method","service":"new-node-red-demo-cloudantNoSQLDB","search":"_all_","design":"","index":"","x":490,"y":432,"wires":[["3b52d3d0.0cf09c"]]},{"id":"276260ae.706078","type":"http in","z":"a1eb4a85.734c1","name":"","url":"/twelve_factor","method":"get","swaggerDoc":"","x":118,"y":513,"wires":[["a5d9e96f.26e45","f86f8047.f77eb"]]},{"id":"a5d9e96f.26e45","type":"delay","z":"a1eb4a85.734c1","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":320,"y":512,"wires":[["65522551.1cdf04"]]},{"id":"65522551.1cdf04","type":"cloudant in","z":"a1eb4a85.734c1","name":"","cloudant":"","database":"twelve_factor","service":"new-node-red-demo-cloudantNoSQLDB","search":"_all_","design":"","index":"","x":480,"y":514,"wires":[["3b52d3d0.0cf09c"]]},{"id":"893b2ac0.c9dde","type":"http in","z":"a1eb4a85.734c1","name":"","url":"/agile_manifesto","method":"get","swaggerDoc":"","x":112,"y":563,"wires":[["f5bc2d2e.df96f","f86f8047.f77eb"]]},{"id":"f5bc2d2e.df96f","type":"delay","z":"a1eb4a85.734c1","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":324,"y":563,"wires":[["a1f5dd7.71357a"]]},{"id":"a1f5dd7.71357a","type":"cloudant in","z":"a1eb4a85.734c1","name":"","cloudant":"","database":"agile_manifesto","service":"new-node-red-demo-cloudantNoSQLDB","search":"_all_","design":"","index":"","x":494,"y":565,"wires":[["3b52d3d0.0cf09c"]]},{"id":"50eca173.cda1a","type":"http in","z":"a1eb4a85.734c1","name":"","url":"/acronyms_2","method":"get","swaggerDoc":"","x":95,"y":631,"wires":[["a8a4ba63.d98b3","f86f8047.f77eb"]]},{"id":"a8a4ba63.d98b3","type":"delay","z":"a1eb4a85.734c1","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":322,"y":631,"wires":[["10de15d5.6e4e5a"]]},{"id":"10de15d5.6e4e5a","type":"cloudant in","z":"a1eb4a85.734c1","name":"","cloudant":"","database":"acronyms_2","service":"new-node-red-demo-cloudantNoSQLDB","search":"_all_","design":"","index":"","x":483,"y":630,"wires":[["3b52d3d0.0cf09c"]]},{"id":"96b2c04d.f1a5e8","type":"http in","z":"a1eb4a85.734c1","name":"","url":"/generic_learning","method":"get","swaggerDoc":"","x":105,"y":706,"wires":[["b6094243.1b4098","f86f8047.f77eb"]]},{"id":"b6094243.1b4098","type":"delay","z":"a1eb4a85.734c1","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":322,"y":706,"wires":[["39422901.084d5e"]]},{"id":"39422901.084d5e","type":"cloudant in","z":"a1eb4a85.734c1","name":"","cloudant":"","database":"generic_learning","service":"new-node-red-demo-cloudantNoSQLDB","search":"_all_","design":"","index":"","x":499,"y":706,"wires":[["3b52d3d0.0cf09c"]]},{"id":"919ae771.9619a","type":"ibmiot in","z":"e34a7626.564588","authentication":"quickstart","apiKey":"","inputType":"evt","deviceId":"20962e5a33b8","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT App In","service":"quickstart","allDevices":false,"allApplications":false,"allDeviceTypes":true,"allEvents":true,"allCommands":false,"allFormats":false,"x":128,"y":73,"wires":[["b82b805c.bfc018","fe24d086.8e907","1c2613ff.bd40d4","dc40f67b.31daf8","b9a53bc8.56a6f8","7ba02230.5f0b14"]]},{"id":"b82b805c.bfc018","type":"debug","z":"e34a7626.564588","name":"name","active":true,"complete":"payload.d.name","x":576.5,"y":74,"wires":[]},{"id":"fe24d086.8e907","type":"debug","z":"e34a7626.564588","name":"Temperature","active":true,"complete":"payload.d.temp","x":576.5,"y":174,"wires":[]},{"id":"1c2613ff.bd40d4","type":"debug","z":"e34a7626.564588","name":"Humidity","active":true,"complete":"payload.d.humidity","x":576.5,"y":274,"wires":[]},{"id":"dc40f67b.31daf8","type":"debug","z":"e34a7626.564588","name":"Object Temperature","active":true,"complete":"payload.d.objectTemp","x":576.5,"y":374,"wires":[]},{"id":"b9a53bc8.56a6f8","type":"debug","z":"e34a7626.564588","name":"pir","active":true,"complete":"payload.d.pir","x":576.5,"y":474,"wires":[]},{"id":"7ba02230.5f0b14","type":"debug","z":"e34a7626.564588","name":"","active":true,"console":"true","complete":"true","x":154,"y":200.5,"wires":[]},{"id":"addaf4a9.df3158","type":"twitter in","z":"15b5456f.af4c0b","twitter":"","tags":"MelissaJones567","user":"user","name":"","topic":"tweets","inputs":1,"x":241,"y":98.20001697540283,"wires":[["7475267a.11135"]]},{"id":"b850a256.32b2b","type":"inject","z":"15b5456f.af4c0b","name":"Send text","topic":"","payload":"I got a new car! Its my dream car! The Scooby Doo van!","payloadType":"str","repeat":"","crontab":"","once":false,"x":379.00000381469727,"y":217.60005378723145,"wires":[[]]},{"id":"be2a4161.ad87f8","type":"function","z":"15b5456f.af4c0b","name":"logic function","func":"var category = msg.features.categories[0].label;\n\nvar categoryScore = msg.features.categories[0].score;\n\nif(categoryScore >= .7){\n    \n    //node.error(\"in if statement\");\n    if(category == \"/travel\"){\n        msg.payload = \"travel\";\n        return msg;\n    }else if(category == \"/automotive and vehicles/cars\"){\n        msg.payload = \"new car\"\n        return msg;\n    }else if(category == \"/finance/personal finance/insurance/vehicle insurance\"){\n        msg.payload = \"car accident\"\n        return msg;\n    }else if(category == \"/home and garden/home improvement and repair/house painting and finishing\"){\n        msg.payload = \"house\"\n        return msg;\n    }else if(category == \"/finance/personal finance/insurance\"){\n        msg.payload = \"house peril\"\n        return msg;\n    }else if(category == \"/automotive and vehicles/boats and watercraft\"){\n        msg.payload = \"new boat\"\n        return msg;\n    }\n    \n}","outputs":1,"noerr":0,"x":594.0001525878906,"y":203.6000518798828,"wires":[["dc0ca409.886a5"]]},{"id":"dc0ca409.886a5","type":"function","z":"15b5456f.af4c0b","name":"Determine tips","func":"var inputPayload = msg.payload\n\nswitch(inputPayload){\n    case \"travel\": msg.payload = \"D @MelissaJones567 Here are some safty reminders for your trip: https://www.travelers.com/resources/home/safety/travel-safety-tips.aspx\";\n                   msg.topic = \"travel tips\";\n                   break;\n    case \"new car\": msg.payload = \"D @MelissaJones567 Enjoy your new car!Here are some tips for your new car: http://safety.lovetoknow.com/20_Safety_Tips_for_Driving\"\n                    msg.topic = \"new car tips\"\n                    break;\n    case \"car accident\": msg.payload = \"D @MelissaJones567 Sorry to hear you got in a car accident =(   http://uphelp.org/pubs/car-accident-claim-tips-practical-guide-auto-claims\"\n                    msg.topic = \"car accident tips\"\n                    break;\n    case \"house\": msg.payload = \"D @MelissaJones567 Tips for your home: https://www.familyhandyman.com/smart-homeowner/home-safety-tips/how-to-prevent-home-fires/view-all\"\n                    msg.topic = \"new house tips\"\n                    break;\n    case \"house peril\": msg.payload = \"D @MelissaJones567 Tips for your house claim: http://www.vandykgroup.com/personal-insurance-nj/tips-on-handling-your-flood-insurance-claim/\"\n                    msg.topic = \"house claim\"\n                    break;\n    case \"new boat\": msg.payload = \"D @MelissaJones567 Here are some safty tips for your new boat =) http://www.discoverboating.com/beginner/safety/tips.aspx\"\n                    msg.topic = \"Fantabulous boating tips\"\n                    break;\n    \n}\n\nreturn msg;","outputs":1,"noerr":0,"x":777.0001106262207,"y":205.79999542236328,"wires":[["f1cdfcf4.6b48b8","a854a304.765be8"]]},{"id":"cb2ba7df.7f4cb","type":"e-mail","z":"15b5456f.af4c0b","server":"smtp.gmail.com","port":"465","name":"ohavenor1@gmail.com","dname":"Send Customer Email","x":725.000114440918,"y":308.3999938964844,"wires":[]},{"id":"f1cdfcf4.6b48b8","type":"twitter out","z":"15b5456f.af4c0b","twitter":"","name":"Output Tweet","x":992.0001220703125,"y":177.3999900817871,"wires":[]},{"id":"1690ecc1.c2a723","type":"debug","z":"15b5456f.af4c0b","name":"","active":true,"console":"false","complete":"false","x":909.0001068115234,"y":433.6000499725342,"wires":[]},{"id":"a854a304.765be8","type":"function","z":"15b5456f.af4c0b","name":"Remake email message","func":"msg.payload = msg.payload.substr(19);\nreturn msg;","outputs":1,"noerr":0,"x":479.00011444091797,"y":331.6000289916992,"wires":[["cb2ba7df.7f4cb","f9fb949e.2db39"]]},{"id":"3e5ccf4c.7df498","type":"e-mail","z":"15b5456f.af4c0b","server":"smtp.gmail.com","port":"465","name":"XYZInsurance567@gmail.com","dname":"Send Agent Email","x":957.000114440918,"y":380.60004711151123,"wires":[]},{"id":"f9fb949e.2db39","type":"function","z":"15b5456f.af4c0b","name":"Format agent email","func":"msg.payload = \"A message was sent to Melissa Jones giving her preventative/claim tips.\";\nmsg.topic = \"Customer received tips!\"\nreturn msg;","outputs":1,"noerr":0,"x":717.0000076293945,"y":377.99999618530273,"wires":[["3e5ccf4c.7df498","1690ecc1.c2a723"]]},{"id":"399c13f.530786c","type":"weather_insights","z":"15b5456f.af4c0b","name":"Local Weather","service":"/forecast/daily/10day.json","geocode":"","units":"e","language":"","x":746.000114440918,"y":47.00000190734863,"wires":[["591a5fca.166408","116f9895.93af3f"]]},{"id":"591a5fca.166408","type":"debug","z":"15b5456f.af4c0b","name":"","active":true,"console":"false","complete":"true","x":957.0001163482666,"y":36.00000190734863,"wires":[]},{"id":"7475267a.11135","type":"function","z":"15b5456f.af4c0b","name":"Map Erie Coordinates","func":"if(msg.location.place == \"Erie, PA\"){\n    msg.payload = \"42.1292,80.0851\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":477,"y":57.799997329711914,"wires":[["399c13f.530786c"]]},{"id":"15a3b96.25a73c7","type":"inject","z":"15b5456f.af4c0b","name":"send coordinates","topic":"","payload":"42.12,80.08","payloadType":"str","repeat":"","crontab":"","once":false,"x":646.0001068115234,"y":96.59998798370361,"wires":[["399c13f.530786c"]]},{"id":"49701dc3.f71784","type":"debug","z":"15b5456f.af4c0b","name":"","active":true,"console":"false","complete":"payload","x":1015.0001182556152,"y":270.3999938964844,"wires":[]},{"id":"116f9895.93af3f","type":"function","z":"15b5456f.af4c0b","name":"Storm Warning Logic","func":"var severeStormWarning = false;\nnode.error(msg.forecasts[0].narrative);\nnode.error(msg.forecasts[1].narrative);\nnode.error(msg.forecasts[2].narrative);\nnode.error(msg.forecasts[3].narrative);\nnode.error(msg.forecasts[4].narrative);\nnode.error(msg.forecasts[5].narrative);\nnode.error(msg.forecasts[6].narrative);\nnode.error(msg.forecasts[7].narrative);\nnode.error(msg.forecasts[8].narrative);\nnode.error(msg.forecasts[9].narrative);\nnode.error(msg.forecasts[10].narrative);\n\nfor(var index = 0; index < 11; index++){\n    node.error(index);\n    node.error(msg.forecasts[0].narrative);\n    \n    if(msg.forecasts[index].narrative.indexOf(\"Thunderstorms\") != -1){\n        severeStormWarning = true;\n    }\n    index++;\n    node.error(index);\n}\n\nmsg.payload = severeStormWarning;\nreturn msg;","outputs":1,"noerr":0,"x":877.000114440918,"y":106.19998931884766,"wires":[["49701dc3.f71784"]]},{"id":"fd74ff78.911d38","type":"http in","z":"55537628.240bd","name":"","url":"/kevin","method":"get","swaggerDoc":"","x":100,"y":145.25,"wires":[["f4174ad0.0c7d4","35b03e1b.d3700a"]]},{"id":"f4174ad0.0c7d4","type":"template","z":"55537628.240bd","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the payload: {{msg}} !","x":293,"y":148.75,"wires":[["c5ff89bc.51f76"]]},{"id":"c5ff89bc.51f76","type":"http response","z":"55537628.240bd","name":"","x":428,"y":151.5,"wires":[]},{"id":"35b03e1b.d3700a","type":"debug","z":"55537628.240bd","name":"","active":true,"console":"false","complete":"false","x":280,"y":67.5,"wires":[]},{"id":"baadffe4.fbf9","type":"inject","z":"55537628.240bd","name":"","topic":"","payload":"hello there","payloadType":"str","repeat":"","crontab":"","once":false,"x":100,"y":296.25,"wires":[["50dd705d.07823"]]},{"id":"50dd705d.07823","type":"watson-translator","z":"55537628.240bd","name":"","action":"translate","basemodel":"es-en","domain":"conversational","srclang":"en","destlang":"es","password":"OkfKf0x3oHOk","custom":"","domainhidden":"conversational","srclanghidden":"en","destlanghidden":"es","basemodelhidden":"es-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"ldparamshidden2":"false","x":281,"y":295.75,"wires":[["11e7c557.5beaa3"]]},{"id":"11e7c557.5beaa3","type":"debug","z":"55537628.240bd","name":"","active":true,"console":"false","complete":"payload","x":482,"y":295.5,"wires":[]},{"id":"25fec82d.da2ee8","type":"ui_button","z":"f8118671.91e4e8","name":"","group":"68b236c1.bfd6b8","order":0,"width":0,"height":0,"label":"A new Button","color":"red","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":682,"y":41,"wires":[[]]},{"id":"e49c5781.6b95a","type":"http in","z":"f8118671.91e4e8","name":"","url":"/playwords","method":"get","swaggerDoc":"","x":119,"y":639.25,"wires":[["320bacfd.d6dfa4","48d8ee83.c590e"]]},{"id":"320bacfd.d6dfa4","type":"debug","z":"f8118671.91e4e8","name":"","active":true,"console":"false","complete":"true","x":439,"y":638,"wires":[]},{"id":"48d8ee83.c590e","type":"function","z":"f8118671.91e4e8","name":"","func":"msg.payload = msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"x":292,"y":666.25,"wires":[["4e23419a.fb80c8"]]},{"id":"bb002281.b2b14","type":"http in","z":"55537628.240bd","name":"","url":"/kibana_abc","method":"post","swaggerDoc":"","x":135,"y":426.25,"wires":[["127eab6d.8e2825","3dabfa02.00410e"]]},{"id":"127eab6d.8e2825","type":"http response","z":"55537628.240bd","name":"","x":415,"y":425.5,"wires":[]},{"id":"3dabfa02.00410e","type":"debug","z":"55537628.240bd","name":"","active":true,"console":"false","complete":"false","x":265,"y":480.5,"wires":[]},{"id":"35320680.6925ca","type":"http in","z":"f8118671.91e4e8","name":"","url":"/playwords","method":"post","swaggerDoc":"","x":117,"y":708.25,"wires":[["48d8ee83.c590e","98a29ecd.2db308","320bacfd.d6dfa4"]]},{"id":"98a29ecd.2db308","type":"http response","z":"f8118671.91e4e8","name":"","x":318,"y":716,"wires":[]},{"id":"78fb1f02.d7afb","type":"http in","z":"55537628.240bd","name":"","url":"/icpjobtest","method":"post","swaggerDoc":"","x":105,"y":541,"wires":[["a8c25ab6.59cb6","af1484d4.b6c718"]]},{"id":"a8c25ab6.59cb6","type":"http response","z":"55537628.240bd","name":"","x":395,"y":540.25,"wires":[]},{"id":"af1484d4.b6c718","type":"debug","z":"55537628.240bd","name":"","active":true,"console":"false","complete":"false","x":276,"y":606.25,"wires":[]},{"id":"6fca5a6e.090d8c","type":"http in","z":"e619647e.eaace8","name":"","url":"/getobject","method":"get","swaggerDoc":"","x":131,"y":155.25,"wires":[["dcd8b919.e9208","eaf07b1f.263138"]]},{"id":"6972c0c2.cc0d68","type":"cloudant in","z":"e619647e.eaace8","name":"","cloudant":"749e6228.12024c","database":"user","service":"_ext_","search":"_id_","design":"searchByName","index":"searchByName","x":524,"y":57.25,"wires":[["459bbbc7.772aa4","dcd8b919.e9208"]]},{"id":"459bbbc7.772aa4","type":"http response","z":"e619647e.eaace8","name":"","x":727,"y":46,"wires":[]},{"id":"dcd8b919.e9208","type":"debug","z":"e619647e.eaace8","name":"","active":true,"console":"false","complete":"false","x":520,"y":219,"wires":[]},{"id":"9122d5a9.aaccd8","type":"http in","z":"e619647e.eaace8","name":"","url":"/updateuser","method":"post","swaggerDoc":"","x":154,"y":288,"wires":[["ceff890.f6dfd78","aa88ee66.851548","cb2a8e31.c319a"]]},{"id":"aa88ee66.851548","type":"http response","z":"e619647e.eaace8","name":"","x":540,"y":348.75,"wires":[]},{"id":"ceff890.f6dfd78","type":"debug","z":"e619647e.eaace8","name":"","active":true,"console":"false","complete":"false","x":529,"y":389.75,"wires":[]},{"id":"1ac326e7.2ed6b1","type":"cloudant out","z":"e619647e.eaace8","name":"","cloudant":"749e6228.12024c","database":"user","service":"_ext_","payonly":true,"operation":"insert","x":530,"y":270.75,"wires":[]},{"id":"87bed0cf.75b39","type":"inject","z":"e619647e.eaace8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":133,"y":426.25,"wires":[["9100bfff.76ccb"]]},{"id":"1cf3c7b1.dac71","type":"cloudant in","z":"e619647e.eaace8","name":"","cloudant":"749e6228.12024c","database":"user","service":"_ext_","search":"_idx_","design":"searchByName","index":"searchByName","x":325,"y":503,"wires":[["9890bbc.73f9948","d19cfa2f.20a1f"]]},{"id":"15d62944.6bedd7","type":"cloudant out","z":"e619647e.eaace8","name":"","cloudant":"749e6228.12024c","database":"user","service":"_ext_","payonly":true,"operation":"insert","x":629,"y":440,"wires":[]},{"id":"9890bbc.73f9948","type":"function","z":"e619647e.eaace8","name":"","func":"//msg.payload[0].auth_token=\"bob\";\nmsg.payload = msg.payload[0];\nmsg.payload.name=\"bobby1\";\n\n/*{\n  \"_id\": \"504a3f503e8fb66097a4bf89b4827f70\",\n  \"_rev\": \"2-cdb288a785c623e66a02880e9e20c386\",\n  \"auth_token\": \"iot-starter-android\",\n  \"device_id\": \"iot-starter-android\",\n  \"name\": \"kevin1\",\n  \"organization\": \"3alh1w\",\n  \"search_key_words\": \"Drumcorps\"\n}*/\nreturn msg;","outputs":1,"noerr":0,"x":471,"y":426.75,"wires":[["d19cfa2f.20a1f","15d62944.6bedd7"]]},{"id":"d19cfa2f.20a1f","type":"debug","z":"e619647e.eaace8","name":"","active":true,"console":"false","complete":"false","x":551,"y":526.5,"wires":[]},{"id":"9100bfff.76ccb","type":"function","z":"e619647e.eaace8","name":"","func":"msg.payload={ \"name\": \"bobby\", limit: 100 };\nreturn msg;","outputs":1,"noerr":0,"x":264,"y":403.75,"wires":[["1cf3c7b1.dac71"]]},{"id":"cb2a8e31.c319a","type":"function","z":"e619647e.eaace8","name":"","func":"return msg;","outputs":1,"noerr":0,"x":379,"y":285.75,"wires":[["1ac326e7.2ed6b1"]]},{"id":"eaf07b1f.263138","type":"function","z":"e619647e.eaace8","name":"","func":"//msg.payload={ \"name\": msg.payload.name, limit: 100 };\nmsg.payload=msg.req.query.id;\nreturn msg;","outputs":1,"noerr":0,"x":95,"y":95,"wires":[["dcd8b919.e9208","fe4a2349.6525f"]]},{"id":"8a37d67d.d89558","type":"http in","z":"e619647e.eaace8","name":"","url":"/getAll","method":"get","swaggerDoc":"","x":162,"y":726,"wires":[["6c8dc3e0.ec543c","6cf96637.a945d8"]]},{"id":"77f9579c.840228","type":"cloudant in","z":"e619647e.eaace8","name":"","cloudant":"749e6228.12024c","database":"user","service":"_ext_","search":"_all_","design":"searchByName","index":"searchByName","x":455,"y":613,"wires":[["f2a9fe0c.9915b","6c8dc3e0.ec543c"]]},{"id":"f2a9fe0c.9915b","type":"http response","z":"e619647e.eaace8","name":"","x":653,"y":660.75,"wires":[]},{"id":"6c8dc3e0.ec543c","type":"debug","z":"e619647e.eaace8","name":"","active":true,"console":"false","complete":"false","x":561,"y":789.75,"wires":[]},{"id":"8a5458c2.02d578","type":"http in","z":"e619647e.eaace8","name":"","url":"/getmetadata","method":"get","swaggerDoc":"","x":159,"y":940,"wires":[["e8e1d351.1bd2d","586348e.8f794b8"]]},{"id":"e5b4a19f.5fd9a","type":"cloudant in","z":"e619647e.eaace8","name":"","cloudant":"749e6228.12024c","database":"metadata","service":"_ext_","search":"_all_","design":"searchByName","index":"searchByName","x":405,"y":894,"wires":[["2a6cafaa.f7687","e8e1d351.1bd2d"]]},{"id":"2a6cafaa.f7687","type":"http response","z":"e619647e.eaace8","name":"","x":572,"y":880.75,"wires":[]},{"id":"e8e1d351.1bd2d","type":"debug","z":"e619647e.eaace8","name":"","active":true,"console":"false","complete":"false","x":538,"y":1003.75,"wires":[]},{"id":"586348e.8f794b8","type":"function","z":"e619647e.eaace8","name":"","func":"msg.payload={ \"name\": msg.payload.name, limit: 100 };\n\nreturn msg;","outputs":1,"noerr":0,"x":262,"y":862.75,"wires":[["e5b4a19f.5fd9a","e8e1d351.1bd2d"]]},{"id":"7f1fa836.f32198","type":"http response","z":"e619647e.eaace8","name":"","x":624,"y":1267,"wires":[]},{"id":"65350043.7803d","type":"http in","z":"e619647e.eaace8","name":"","url":"/OCRImage","method":"post","swaggerDoc":"","x":156,"y":1182.25,"wires":[["8322d597.fa3288"]]},{"id":"c52fae7e.9effd8","type":"debug","z":"e619647e.eaace8","name":"","active":true,"console":"false","complete":"false","x":566,"y":1170,"wires":[]},{"id":"8322d597.fa3288","type":"function","z":"e619647e.eaace8","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":387,"y":1185.75,"wires":[["35471cde.9d0584"]]},{"id":"35471cde.9d0584","type":"http request","z":"e619647e.eaace8","name":"","method":"POST","ret":"obj","url":"https://vision.googleapis.com/v1/images:annotate?key=AIzaSyBESW49t48CGrcITU7-V34PeQkWAoOeBYM","tls":"","x":315,"y":1270.75,"wires":[["a5a48dde.c941a","c52fae7e.9effd8"]]},{"id":"a5a48dde.c941a","type":"function","z":"e619647e.eaace8","name":"","func":"msg.payload = msg.payload.responses[0].textAnnotations[0].description;\nreturn msg;","outputs":1,"noerr":0,"x":453,"y":1320.75,"wires":[["7f1fa836.f32198","c52fae7e.9effd8"]]},{"id":"e8be2cbd.8cea48","type":"inject","z":"e619647e.eaace8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":101,"y":1279.25,"wires":[["8322d597.fa3288"]]},{"id":"871052d6.7adbb","type":"function","z":"e619647e.eaace8","name":"","func":"msg.payload = {\n  \"requests\": [\n    {\n      \"image\": {\n        \"source\": {\n          \"gcsImageUri\": \"gs://awesome-lotus-201318.appspot.com/20180514_173637.jpg\"\n        }\n      },\n      \"features\": [\n        {\n          \"type\": \"DOCUMENT_TEXT_DETECTION\"\n        }\n      ]\n    }\n  ]\n}\nreturn msg;","outputs":1,"noerr":0,"x":379,"y":1112.5,"wires":[[]]},{"id":"1ec86ba0.cbb744","type":"http in","z":"e619647e.eaace8","name":"","url":"/save","method":"post","swaggerDoc":"","x":123,"y":1466,"wires":[["4e7c2b11.ce18e4","a9ed6c74.37bb9"]]},{"id":"aa2c1bcd.524798","type":"http response","z":"e619647e.eaace8","name":"","x":622,"y":1363.75,"wires":[]},{"id":"4e7c2b11.ce18e4","type":"debug","z":"e619647e.eaace8","name":"Kevin","active":true,"console":"false","complete":"true","x":417,"y":1580.75,"wires":[]},{"id":"2f43ca15.ddfe96","type":"cloudant out","z":"e619647e.eaace8","name":"","cloudant":"749e6228.12024c","database":"user","service":"_ext_","payonly":true,"operation":"insert","x":520,"y":1435,"wires":[]},{"id":"1079c441.d8a62c","type":"http in","z":"e619647e.eaace8","name":"","url":"/delete","method":"post","swaggerDoc":"","x":140,"y":1778,"wires":[["5cea64b5.8c00ec","6301e596.c94fac"]]},{"id":"472aa8bb.d9a698","type":"http response","z":"e619647e.eaace8","name":"","x":694,"y":1683.75,"wires":[]},{"id":"5cea64b5.8c00ec","type":"debug","z":"e619647e.eaace8","name":"Kevin","active":true,"console":"false","complete":"payload","x":481,"y":1911.75,"wires":[]},{"id":"6301e596.c94fac","type":"function","z":"e619647e.eaace8","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":167,"y":1689.75,"wires":[["5cea64b5.8c00ec","472aa8bb.d9a698","fcf2d45e.6171c8"]]},{"id":"62c1bad8.c20954","type":"cloudant out","z":"e619647e.eaace8","name":"","cloudant":"749e6228.12024c","database":"user","service":"_ext_","payonly":true,"operation":"delete","x":545,"y":1714,"wires":[]},{"id":"6cf96637.a945d8","type":"switch","z":"e619647e.eaace8","name":"","property":"payload.object_name","propertyType":"msg","rules":[{"t":"eq","v":"object_one","vt":"str"},{"t":"eq","v":"object_two","vt":"str"},{"t":"eq","v":"deal","vt":"str"}],"checkall":"false","outputs":3,"x":310,"y":594,"wires":[["77f9579c.840228"],["9b0194b8.907248"],["4032ba02.271294"]]},{"id":"9b0194b8.907248","type":"cloudant in","z":"e619647e.eaace8","name":"","cloudant":"749e6228.12024c","database":"object_two","service":"_ext_","search":"_all_","design":"searchByName","index":"searchByName","x":475,"y":657,"wires":[["f2a9fe0c.9915b","6c8dc3e0.ec543c"]]},{"id":"fcf2d45e.6171c8","type":"switch","z":"e619647e.eaace8","name":"","property":"req.query.object_name","propertyType":"msg","rules":[{"t":"eq","v":"object_one","vt":"str"},{"t":"eq","v":"object_two","vt":"str"},{"t":"eq","v":"deal","vt":"str"}],"checkall":"false","outputs":3,"x":388,"y":1713,"wires":[["62c1bad8.c20954"],["c6157431.bc2448"],["db00a55b.a72dc8"]]},{"id":"c6157431.bc2448","type":"cloudant out","z":"e619647e.eaace8","name":"","cloudant":"749e6228.12024c","database":"object_two","service":"_ext_","payonly":true,"operation":"delete","x":567,"y":1761,"wires":[]},{"id":"a9ed6c74.37bb9","type":"switch","z":"e619647e.eaace8","name":"","property":"req.query.object_name","propertyType":"msg","rules":[{"t":"eq","v":"object_one","vt":"str"},{"t":"eq","v":"object_two","vt":"str"},{"t":"eq","v":"deal","vt":"str"}],"checkall":"false","outputs":3,"x":309,"y":1410,"wires":[["2f43ca15.ddfe96","aa2c1bcd.524798"],["cc853a20.e2c368","aa2c1bcd.524798","4e7c2b11.ce18e4"],["d10aa169.853d3","aa2c1bcd.524798"]]},{"id":"cc853a20.e2c368","type":"cloudant out","z":"e619647e.eaace8","name":"","cloudant":"749e6228.12024c","database":"object_two","service":"_ext_","payonly":true,"operation":"insert","x":540,"y":1492,"wires":[]},{"id":"d10aa169.853d3","type":"cloudant out","z":"e619647e.eaace8","name":"","cloudant":"749e6228.12024c","database":"deals","service":"_ext_","payonly":true,"operation":"insert","x":548,"y":1530,"wires":[]},{"id":"db00a55b.a72dc8","type":"cloudant out","z":"e619647e.eaace8","name":"","cloudant":"749e6228.12024c","database":"deals","service":"_ext_","payonly":true,"operation":"delete","x":548,"y":1808,"wires":[]},{"id":"4032ba02.271294","type":"cloudant in","z":"e619647e.eaace8","name":"","cloudant":"749e6228.12024c","database":"deals","service":"_ext_","search":"_all_","design":"searchByName","index":"searchByName","x":456,"y":702,"wires":[["f2a9fe0c.9915b","6c8dc3e0.ec543c"]]},{"id":"fe4a2349.6525f","type":"switch","z":"e619647e.eaace8","name":"","property":"req.query.object_name","propertyType":"msg","rules":[{"t":"eq","v":"object_one","vt":"str"},{"t":"eq","v":"object_two","vt":"str"},{"t":"eq","v":"deal","vt":"str"}],"checkall":"false","outputs":3,"x":219,"y":46,"wires":[["6972c0c2.cc0d68"],["69ba11b8.a66d6"],["7ea66077.8bbe2"]]},{"id":"69ba11b8.a66d6","type":"cloudant in","z":"e619647e.eaace8","name":"","cloudant":"749e6228.12024c","database":"object_two","service":"_ext_","search":"_id_","design":"searchByName","index":"searchByName","x":547,"y":102,"wires":[["459bbbc7.772aa4","dcd8b919.e9208"]]},{"id":"7ea66077.8bbe2","type":"cloudant in","z":"e619647e.eaace8","name":"","cloudant":"749e6228.12024c","database":"deals","service":"_ext_","search":"_id_","design":"searchByName","index":"searchByName","x":518,"y":145,"wires":[["459bbbc7.772aa4","dcd8b919.e9208"]]},{"id":"691758d2.773f3","type":"http in","z":"e619647e.eaace8","name":"","url":"/authenticate","method":"get","swaggerDoc":"","x":102,"y":2077,"wires":[["37bd99a4.7415ee","a96a190a.5fadc8"]]},{"id":"b8fe4250.44b02","type":"cloudant in","z":"e619647e.eaace8","name":"","cloudant":"749e6228.12024c","database":"user","service":"_ext_","search":"_idx_","design":"searchByName","index":"searchByName","x":499,"y":1976,"wires":[["37bd99a4.7415ee","9a3ff432.e37b98"]]},{"id":"37bd99a4.7415ee","type":"debug","z":"e619647e.eaace8","name":"","active":true,"console":"false","complete":"false","x":573,"y":2126.75,"wires":[]},{"id":"a96a190a.5fadc8","type":"function","z":"e619647e.eaace8","name":"","func":"msg.payload={ \"username\": msg.payload.username, limit: 1 };\n\nreturn msg;","outputs":1,"noerr":0,"x":148,"y":2002.75,"wires":[["37bd99a4.7415ee","b8fe4250.44b02"]]},{"id":"9a3ff432.e37b98","type":"http response","z":"e619647e.eaace8","name":"","x":722,"y":1964,"wires":[]},{"id":"56fef8f9.24ec28","type":"http in","z":"e619647e.eaace8","name":"","url":"/peopleInArea","method":"get","swaggerDoc":"","x":142,"y":2233.25,"wires":[["6fff645c.43d724"]]},{"id":"710609de.f97e18","type":"debug","z":"e619647e.eaace8","name":"","active":true,"console":"false","complete":"false","x":437,"y":2348.5,"wires":[]},{"id":"e4abb65d.45799","type":"http response","z":"e619647e.eaace8","name":"","x":502,"y":2234,"wires":[]},{"id":"6fff645c.43d724","type":"function","z":"e619647e.eaace8","name":"","func":"people = [{\"latitude\":\"38.7997397\", \"longitude\": \"-77.3233605\", \"name\": \"Ryan Dunetz\"},{\"latitude\":\"38.82564\", \"longitude\": \"-77.314993\", \"name\": \"Andrew Dunetz\"}]\n\nmsg.payload = people;\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":2235.25,"wires":[["e4abb65d.45799","710609de.f97e18"]]}]
