nodered.json
[{"id":"1f64410c.3136e7","type":"comment","z":"6ef60287.c72cbc","name":"Sample 2: IoT Starter accel to color flow","info":"","x":241.81817626953125,"y":132.0909423828125,"wires":[]},{"id":"3c2b07eb.7373c","type":"ibmiot in","z":"6ef60287.c72cbc","authentication":"boundService","apiKey":"634e195.af361e8","inputType":"evt","deviceId":"iot-starter-android","applicationId":"","deviceType":"Android","eventType":"+","commandType":"","format":"json","name":"IBM IoT App In","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":false,"allEvents":false,"allCommands":true,"allFormats":false,"x":152.81817626953125,"y":168.0909423828125,"wires":[["262f276c.fbaea","2b831e1.f0b4fe2"]]},{"id":"e2cf8065.a892a8","type":"function","z":"6ef60287.c72cbc","name":"Handle accel","func":"//msg.deviceId = msg.payload.d.deviceId;\n//msg.deviceType = \"Android\";//msg.payload.d.deviceType;\n//msg.format = \"json\";\n\nvar accelZ = msg.payload.d.acceleration_z;\nvar r = 0.0;\nvar b = 0.0;\nvar g = 0.0;\nif (accelZ > 0) {\n\tg = 0.0;\n} else if (accelZ < 0) {\n\tr = 255.0;\n} else {\n\tr = 104;\n\tg = 109;\n\tb = 115;\n}\na = 1.0;\n\t\nmsg.eventOrCommandType = \"color\";\n//msg.payload = JSON.stringify({\"d\":{\"deviceId\":msg.deviceId, \"r\":r,\"b\":b,\"g\":g,\"alpha\":a}});\nmsg.payload = JSON.stringify({\"d\":{\"r\":r,\"b\":b,\"g\":g,\"alpha\":a}});\n\nreturn msg;","outputs":1,"noerr":0,"x":368.90911865234375,"y":170.09092712402344,"wires":[["b2db9e44.9517d"]]},{"id":"b2db9e44.9517d","type":"ibmiot out","z":"6ef60287.c72cbc","authentication":"apiKey","apiKey":"634e195.af361e8","outputType":"cmd","deviceId":"iot-starter-android","deviceType":"Android","eventCommandType":"color","format":"json","data":"{\"d\":{\"value\":\"text\"}}","name":"IBM IoT App Out","service":"registered","x":568.8182373046875,"y":170.0909423828125,"wires":[]},{"id":"262f276c.fbaea","type":"debug","z":"6ef60287.c72cbc","name":"","active":false,"console":"false","complete":"payload","x":379.09090909090907,"y":268.1818181818182,"wires":[]},{"id":"1f0a4a28.2cd0be","type":"ibmiot out","z":"6ef60287.c72cbc","authentication":"apiKey","apiKey":"634e195.af361e8","outputType":"cmd","deviceId":"iot-starter-android","deviceType":"Android","eventCommandType":"light","format":"json","data":"{\"d\":{\"empty\":0}}","name":"IBM IoT App Out","service":"registered","x":513,"y":356,"wires":[]},{"id":"643c7ded.fbce34","type":"inject","z":"6ef60287.c72cbc","name":"Turn Light On and Off","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":200,"y":355,"wires":[["1f0a4a28.2cd0be","34e047ff.15e738"]]},{"id":"614b4900.c44048","type":"ibmiot out","z":"6ef60287.c72cbc","authentication":"apiKey","apiKey":"634e195.af361e8","outputType":"cmd","deviceId":"iot-starter-android","deviceType":"Android","eventCommandType":"alert","format":"json","data":"{\"d\":{\"text\":\"Hello From Node Red Kevin\"}}","name":"IBM IoT App Out","service":"registered","x":811,"y":478.99998474121094,"wires":[]},{"id":"44da1b5.e5b87e4","type":"inject","z":"6ef60287.c72cbc","name":"Send Phone Text Alert","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":203,"y":480.99998474121094,"wires":[["614b4900.c44048"]]},{"id":"2b831e1.f0b4fe2","type":"function","z":"6ef60287.c72cbc","name":"Retransmit as a command","func":"msg.eventType = null;\nmsg.deviceId = \"iot-starter-android\";\n//msg.deviceType = \"Android\";//msg.payload.d.deviceType;\n//msg.format = \"json\";\n\nvar lat = msg.payload.d.lat;\nvar lon = msg.payload.d.lon;\nvar user = msg.payload.d.user;\n\n\t\nmsg.eventOrCommandType = \"position\";\nmsg.payload = JSON.stringify({\"d\":{\"user\": user, \"lat\":lat,\"lon\":lon}});\n\nreturn msg;","outputs":1,"noerr":0,"x":426.3666687011719,"y":73.36666870117188,"wires":[["b4df46f8.e91e"]]},{"id":"24f7e1c9.3797b6","type":"ibmiot out","z":"6ef60287.c72cbc","authentication":"apiKey","apiKey":"634e195.af361e8","outputType":"cmd","deviceId":"iot-starter-android","deviceType":"Android","eventCommandType":"position","format":"json","data":"{\"d\":{\"value\":\"text\"}}","name":"IBM IoT App Out","service":"registered","x":754.27587890625,"y":73.36668395996094,"wires":[]},{"id":"badbdf14.84c3d","type":"inject","z":"6ef60287.c72cbc","name":"","topic":"","payload":"","payloadType":"date","repeat":"3","crontab":"","once":false,"x":139.73333740234375,"y":732.63330078125,"wires":[["23c9efb3.9ea358"]]},{"id":"23c9efb3.9ea358","type":"function","z":"6ef60287.c72cbc","name":"Retransmit as a command","func":"//msg.deviceId = msg.payload.d.deviceId;\n//msg.deviceType = \"Android\";//msg.payload.d.deviceType;\n//msg.format = \"json\";\ncontext.global.lat += .00001;\nvar lat = context.global.lat; //38.795 ;\nvar lon = -77.364;\nvar user = \"Ryan\";\n\n\t\nmsg.eventOrCommandType = \"position\";\nmsg.payload = JSON.stringify({\"d\":{\"user\": user, \"lat\":lat,\"lon\":lon}});\n\nreturn msg;","outputs":1,"noerr":0,"x":451.3666687011719,"y":733.36669921875,"wires":[["e13e35ce.3d75b8"]]},{"id":"e13e35ce.3d75b8","type":"ibmiot out","z":"6ef60287.c72cbc","authentication":"apiKey","apiKey":"634e195.af361e8","outputType":"cmd","deviceId":"iot-starter-android","deviceType":"Android","eventCommandType":"color","format":"json","data":"{\"d\":{\"value\":\"text\"}}","name":"IBM IoT App Out","service":"registered","x":771.27587890625,"y":733.3666381835938,"wires":[]},{"id":"2ec0c2f1.ff030e","type":"inject","z":"6ef60287.c72cbc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":150.73333740234375,"y":802.63330078125,"wires":[["7c35489a.eb67e"]]},{"id":"7c35489a.eb67e","type":"function","z":"6ef60287.c72cbc","name":"","func":"context.global.lat = 38.796;\ncontext.global.lon = -77.364;\nreturn msg;","outputs":1,"noerr":0,"x":299.73333740234375,"y":804.0333251953125,"wires":[[]]},{"id":"c65eab52.eeaa9","type":"inject","z":"6ef60287.c72cbc","name":"","topic":"","payload":"","payloadType":"date","repeat":"3","crontab":"","once":false,"x":160.36666870117188,"y":889.36669921875,"wires":[["4eb6074.43cdbf8"]]},{"id":"4eb6074.43cdbf8","type":"function","z":"6ef60287.c72cbc","name":"Retransmit as a command","func":"//msg.deviceId = msg.payload.d.deviceId;\n//msg.deviceType = \"Android\";//msg.payload.d.deviceType;\n//msg.format = \"json\";\ncontext.global.lon -= .0001;\nvar lat = 38.795;\nvar lon = context.global.lon;\nvar user = \"Andrew\";\n\n\t\nmsg.eventOrCommandType = \"position\";\nmsg.payload = JSON.stringify({\"d\":{\"user\": user, \"lat\":lat,\"lon\":lon}});\n\nreturn msg;","outputs":1,"noerr":0,"x":497,"y":890.1000366210938,"wires":[["967418a1.76bb08"]]},{"id":"967418a1.76bb08","type":"ibmiot out","z":"6ef60287.c72cbc","authentication":"apiKey","apiKey":"634e195.af361e8","outputType":"cmd","deviceId":"iot-starter-android","deviceType":"Android","eventCommandType":"color","format":"json","data":"{\"d\":{\"value\":\"text\"}}","name":"IBM IoT App Out","service":"registered","x":813.9091796875,"y":890.1000366210938,"wires":[]},{"id":"b4df46f8.e91e","type":"debug","z":"6ef60287.c72cbc","name":"","active":true,"console":"false","complete":"true","x":696.7333679199219,"y":129.8333282470703,"wires":[]},{"id":"ae564b22.b93e6","type":"http in","z":"6ef60287.c72cbc","name":"","url":"/sendMessageToPhone","method":"get","swaggerDoc":"","x":163.73333740234375,"y":624.9666137695312,"wires":[["4df39321.3a437c","34e047ff.15e738","d9b979f0.97fc38","30cfcc78.949b5c"]]},{"id":"4df39321.3a437c","type":"http response","z":"6ef60287.c72cbc","name":"","x":424.7333679199219,"y":635.4666137695312,"wires":[]},{"id":"34e047ff.15e738","type":"debug","z":"6ef60287.c72cbc","name":"","active":true,"console":"false","complete":"true","x":653.7333984375,"y":594.8333129882812,"wires":[]},{"id":"d9b979f0.97fc38","type":"function","z":"6ef60287.c72cbc","name":"Clear out the HTTP Message","func":"\nreturn {};","outputs":1,"noerr":0,"x":357.73333740234375,"y":555.2333374023438,"wires":[["614b4900.c44048","34e047ff.15e738"]]},{"id":"7bc52745.9c63","type":"ibmiot out","z":"6ef60287.c72cbc","authentication":"apiKey","apiKey":"634e195.af361e8","outputType":"cmd","deviceId":"iot-starter-android","deviceType":"Android","eventCommandType":"crash","format":"json","data":"{\"d\":{\"empty\":0}}","name":"IBM IoT App Out","service":"registered","x":508,"y":317,"wires":[]},{"id":"6a3e6b0a.605cc4","type":"inject","z":"6ef60287.c72cbc","name":"Crash Android App","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":185,"y":316,"wires":[["7bc52745.9c63"]]},{"id":"30cfcc78.949b5c","type":"debug","z":"6ef60287.c72cbc","name":"","active":true,"console":"false","complete":"false","x":436,"y":683.5,"wires":[]},{"id":"af5b32ff.889f8","type":"twitter in","z":"6ef60287.c72cbc","tags":"","user":"false","name":"","topic":"tweets","x":723,"y":372,"wires":[[]]},{"id":"2ef9383b.8d104","type":"ibmiot out","z":"6ef60287.c72cbc","authentication":"apiKey","apiKey":"634e195.af361e8","outputType":"cmd","deviceId":"iot-starter-android","deviceType":"Android","eventCommandType":"speak","format":"json","data":"{\"d\":{\"text\":\"Hello From Node Red Kevin\"}}","name":"IBM IoT App Out","service":"registered","x":713,"y":983,"wires":[]},{"id":"25d71274.1ee61e","type":"inject","z":"6ef60287.c72cbc","name":"Send Phone Text Alert","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":159,"y":985,"wires":[["2ef9383b.8d104"]]},{"id":"634e195.af361e8","type":"ibmiot","z":"6ef60287.c72cbc","name":"IOT Starter Android"}]
