nodered_apis.json
[{"id":"6fca5a6e.090d8c","type":"http in","z":"e619647e.eaace8","name":"","url":"/getobject","method":"get","swaggerDoc":"","x":131,"y":155.25,"wires":[["dcd8b919.e9208","eaf07b1f.263138"]]},{"id":"6972c0c2.cc0d68","type":"cloudant in","z":"e619647e.eaace8","name":"","cloudant":"749e6228.12024c","database":"user","service":"_ext_","search":"_id_","design":"searchByName","index":"searchByName","x":524,"y":57.25,"wires":[["459bbbc7.772aa4","dcd8b919.e9208"]]},{"id":"459bbbc7.772aa4","type":"http response","z":"e619647e.eaace8","name":"","x":727,"y":46,"wires":[]},{"id":"dcd8b919.e9208","type":"debug","z":"e619647e.eaace8","name":"","active":true,"console":"false","complete":"false","x":520,"y":219,"wires":[]},{"id":"9122d5a9.aaccd8","type":"http in","z":"e619647e.eaace8","name":"","url":"/updateuser","method":"post","swaggerDoc":"","x":154,"y":288,"wires":[["ceff890.f6dfd78","aa88ee66.851548","cb2a8e31.c319a"]]},{"id":"aa88ee66.851548","type":"http response","z":"e619647e.eaace8","name":"","x":540,"y":348.75,"wires":[]},{"id":"ceff890.f6dfd78","type":"debug","z":"e619647e.eaace8","name":"","active":true,"console":"false","complete":"false","x":529,"y":389.75,"wires":[]},{"id":"1ac326e7.2ed6b1","type":"cloudant out","z":"e619647e.eaace8","name":"","cloudant":"749e6228.12024c","database":"user","service":"_ext_","payonly":true,"operation":"insert","x":530,"y":270.75,"wires":[]},{"id":"87bed0cf.75b39","type":"inject","z":"e619647e.eaace8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":133,"y":426.25,"wires":[["9100bfff.76ccb"]]},{"id":"1cf3c7b1.dac71","type":"cloudant in","z":"e619647e.eaace8","name":"","cloudant":"749e6228.12024c","database":"user","service":"_ext_","search":"_idx_","design":"searchByName","index":"searchByName","x":325,"y":503,"wires":[["9890bbc.73f9948","d19cfa2f.20a1f"]]},{"id":"15d62944.6bedd7","type":"cloudant out","z":"e619647e.eaace8","name":"","cloudant":"749e6228.12024c","database":"user","service":"_ext_","payonly":true,"operation":"insert","x":629,"y":440,"wires":[]},{"id":"9890bbc.73f9948","type":"function","z":"e619647e.eaace8","name":"","func":"//msg.payload[0].auth_token=\"bob\";\nmsg.payload = msg.payload[0];\nmsg.payload.name=\"bobby1\";\n\n/*{\n  \"_id\": \"504a3f503e8fb66097a4bf89b4827f70\",\n  \"_rev\": \"2-cdb288a785c623e66a02880e9e20c386\",\n  \"auth_token\": \"iot-starter-android\",\n  \"device_id\": \"iot-starter-android\",\n  \"name\": \"kevin1\",\n  \"organization\": \"3alh1w\",\n  \"search_key_words\": \"Drumcorps\"\n}*/\nreturn msg;","outputs":1,"noerr":0,"x":471,"y":426.75,"wires":[["d19cfa2f.20a1f","15d62944.6bedd7"]]},{"id":"d19cfa2f.20a1f","type":"debug","z":"e619647e.eaace8","name":"","active":true,"console":"false","complete":"false","x":551,"y":526.5,"wires":[]},{"id":"9100bfff.76ccb","type":"function","z":"e619647e.eaace8","name":"","func":"msg.payload={ \"name\": \"bobby\", limit: 100 };\nreturn msg;","outputs":1,"noerr":0,"x":264,"y":403.75,"wires":[["1cf3c7b1.dac71"]]},{"id":"cb2a8e31.c319a","type":"function","z":"e619647e.eaace8","name":"","func":"return msg;","outputs":1,"noerr":0,"x":379,"y":285.75,"wires":[["1ac326e7.2ed6b1"]]},{"id":"eaf07b1f.263138","type":"function","z":"e619647e.eaace8","name":"","func":"//msg.payload={ \"name\": msg.payload.name, limit: 100 };\nmsg.payload=msg.req.query.id;\nreturn msg;","outputs":1,"noerr":0,"x":95,"y":95,"wires":[["dcd8b919.e9208","fe4a2349.6525f"]]},{"id":"8a37d67d.d89558","type":"http in","z":"e619647e.eaace8","name":"","url":"/getAll","method":"get","swaggerDoc":"","x":162,"y":726,"wires":[["6c8dc3e0.ec543c","6cf96637.a945d8"]]},{"id":"77f9579c.840228","type":"cloudant in","z":"e619647e.eaace8","name":"","cloudant":"749e6228.12024c","database":"user","service":"_ext_","search":"_all_","design":"searchByName","index":"searchByName","x":455,"y":613,"wires":[["f2a9fe0c.9915b","6c8dc3e0.ec543c"]]},{"id":"f2a9fe0c.9915b","type":"http response","z":"e619647e.eaace8","name":"","x":653,"y":660.75,"wires":[]},{"id":"6c8dc3e0.ec543c","type":"debug","z":"e619647e.eaace8","name":"","active":true,"console":"false","complete":"false","x":561,"y":789.75,"wires":[]},{"id":"8a5458c2.02d578","type":"http in","z":"e619647e.eaace8","name":"","url":"/getmetadata","method":"get","swaggerDoc":"","x":159,"y":940,"wires":[["e8e1d351.1bd2d","586348e.8f794b8"]]},{"id":"e5b4a19f.5fd9a","type":"cloudant in","z":"e619647e.eaace8","name":"","cloudant":"749e6228.12024c","database":"metadata","service":"_ext_","search":"_all_","design":"searchByName","index":"searchByName","x":405,"y":894,"wires":[["2a6cafaa.f7687","e8e1d351.1bd2d"]]},{"id":"2a6cafaa.f7687","type":"http response","z":"e619647e.eaace8","name":"","x":572,"y":880.75,"wires":[]},{"id":"e8e1d351.1bd2d","type":"debug","z":"e619647e.eaace8","name":"","active":true,"console":"false","complete":"false","x":538,"y":1003.75,"wires":[]},{"id":"586348e.8f794b8","type":"function","z":"e619647e.eaace8","name":"","func":"msg.payload={ \"name\": msg.payload.name, limit: 100 };\n\nreturn msg;","outputs":1,"noerr":0,"x":262,"y":862.75,"wires":[["e5b4a19f.5fd9a","e8e1d351.1bd2d"]]},{"id":"7f1fa836.f32198","type":"http response","z":"e619647e.eaace8","name":"","x":624,"y":1267,"wires":[]},{"id":"65350043.7803d","type":"http in","z":"e619647e.eaace8","name":"","url":"/OCRImage","method":"post","swaggerDoc":"","x":156,"y":1182.25,"wires":[["8322d597.fa3288"]]},{"id":"c52fae7e.9effd8","type":"debug","z":"e619647e.eaace8","name":"","active":true,"console":"false","complete":"false","x":566,"y":1170,"wires":[]},{"id":"8322d597.fa3288","type":"function","z":"e619647e.eaace8","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":387,"y":1185.75,"wires":[["35471cde.9d0584"]]},{"id":"35471cde.9d0584","type":"http request","z":"e619647e.eaace8","name":"","method":"POST","ret":"obj","url":"https://vision.googleapis.com/v1/images:annotate?key=AIzaSyBESW49t48CGrcITU7-V34PeQkWAoOeBYM","tls":"","x":315,"y":1270.75,"wires":[["a5a48dde.c941a","c52fae7e.9effd8"]]},{"id":"a5a48dde.c941a","type":"function","z":"e619647e.eaace8","name":"","func":"msg.payload = msg.payload.responses[0].textAnnotations[0].description;\nreturn msg;","outputs":1,"noerr":0,"x":453,"y":1320.75,"wires":[["7f1fa836.f32198","c52fae7e.9effd8"]]},{"id":"e8be2cbd.8cea48","type":"inject","z":"e619647e.eaace8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":101,"y":1279.25,"wires":[["8322d597.fa3288"]]},{"id":"871052d6.7adbb","type":"function","z":"e619647e.eaace8","name":"","func":"msg.payload = {\n  \"requests\": [\n    {\n      \"image\": {\n        \"source\": {\n          \"gcsImageUri\": \"gs://awesome-lotus-201318.appspot.com/api/20180514_173637.jpg\"\n        }\n      },\n      \"features\": [\n        {\n          \"type\": \"DOCUMENT_TEXT_DETECTION\"\n        }\n      ]\n    }\n  ]\n}\nreturn msg;","outputs":1,"noerr":0,"x":379,"y":1112.5,"wires":[[]]},{"id":"1ec86ba0.cbb744","type":"http in","z":"e619647e.eaace8","name":"","url":"/save","method":"post","swaggerDoc":"","x":123,"y":1466,"wires":[["4e7c2b11.ce18e4","a9ed6c74.37bb9"]]},{"id":"aa2c1bcd.524798","type":"http response","z":"e619647e.eaace8","name":"","x":622,"y":1363.75,"wires":[]},{"id":"4e7c2b11.ce18e4","type":"debug","z":"e619647e.eaace8","name":"Kevin","active":true,"console":"false","complete":"true","x":417,"y":1580.75,"wires":[]},{"id":"2f43ca15.ddfe96","type":"cloudant out","z":"e619647e.eaace8","name":"","cloudant":"749e6228.12024c","database":"user","service":"_ext_","payonly":true,"operation":"insert","x":520,"y":1435,"wires":[]},{"id":"1079c441.d8a62c","type":"http in","z":"e619647e.eaace8","name":"","url":"/delete","method":"post","swaggerDoc":"","x":140,"y":1778,"wires":[["5cea64b5.8c00ec","6301e596.c94fac"]]},{"id":"472aa8bb.d9a698","type":"http response","z":"e619647e.eaace8","name":"","x":694,"y":1683.75,"wires":[]},{"id":"5cea64b5.8c00ec","type":"debug","z":"e619647e.eaace8","name":"Kevin","active":true,"console":"false","complete":"payload","x":481,"y":1911.75,"wires":[]},{"id":"6301e596.c94fac","type":"function","z":"e619647e.eaace8","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":167,"y":1689.75,"wires":[["5cea64b5.8c00ec","472aa8bb.d9a698","fcf2d45e.6171c8"]]},{"id":"62c1bad8.c20954","type":"cloudant out","z":"e619647e.eaace8","name":"","cloudant":"749e6228.12024c","database":"user","service":"_ext_","payonly":true,"operation":"delete","x":545,"y":1714,"wires":[]},{"id":"6cf96637.a945d8","type":"switch","z":"e619647e.eaace8","name":"","property":"payload.object_name","propertyType":"msg","rules":[{"t":"eq","v":"object_one","vt":"str"},{"t":"eq","v":"object_two","vt":"str"},{"t":"eq","v":"deal","vt":"str"}],"checkall":"false","outputs":3,"x":310,"y":594,"wires":[["77f9579c.840228"],["9b0194b8.907248"],["4032ba02.271294"]]},{"id":"9b0194b8.907248","type":"cloudant in","z":"e619647e.eaace8","name":"","cloudant":"749e6228.12024c","database":"object_two","service":"_ext_","search":"_all_","design":"searchByName","index":"searchByName","x":475,"y":657,"wires":[["f2a9fe0c.9915b","6c8dc3e0.ec543c"]]},{"id":"fcf2d45e.6171c8","type":"switch","z":"e619647e.eaace8","name":"","property":"req.query.object_name","propertyType":"msg","rules":[{"t":"eq","v":"object_one","vt":"str"},{"t":"eq","v":"object_two","vt":"str"},{"t":"eq","v":"deal","vt":"str"}],"checkall":"false","outputs":3,"x":388,"y":1713,"wires":[["62c1bad8.c20954"],["c6157431.bc2448"],["db00a55b.a72dc8"]]},{"id":"c6157431.bc2448","type":"cloudant out","z":"e619647e.eaace8","name":"","cloudant":"749e6228.12024c","database":"object_two","service":"_ext_","payonly":true,"operation":"delete","x":567,"y":1761,"wires":[]},{"id":"a9ed6c74.37bb9","type":"switch","z":"e619647e.eaace8","name":"","property":"req.query.object_name","propertyType":"msg","rules":[{"t":"eq","v":"object_one","vt":"str"},{"t":"eq","v":"object_two","vt":"str"},{"t":"eq","v":"deal","vt":"str"}],"checkall":"false","outputs":3,"x":309,"y":1410,"wires":[["2f43ca15.ddfe96","aa2c1bcd.524798"],["cc853a20.e2c368","aa2c1bcd.524798","4e7c2b11.ce18e4"],["d10aa169.853d3","aa2c1bcd.524798"]]},{"id":"cc853a20.e2c368","type":"cloudant out","z":"e619647e.eaace8","name":"","cloudant":"749e6228.12024c","database":"object_two","service":"_ext_","payonly":true,"operation":"insert","x":540,"y":1492,"wires":[]},{"id":"d10aa169.853d3","type":"cloudant out","z":"e619647e.eaace8","name":"","cloudant":"749e6228.12024c","database":"deals","service":"_ext_","payonly":true,"operation":"insert","x":548,"y":1530,"wires":[]},{"id":"db00a55b.a72dc8","type":"cloudant out","z":"e619647e.eaace8","name":"","cloudant":"749e6228.12024c","database":"deals","service":"_ext_","payonly":true,"operation":"delete","x":548,"y":1808,"wires":[]},{"id":"4032ba02.271294","type":"cloudant in","z":"e619647e.eaace8","name":"","cloudant":"749e6228.12024c","database":"deals","service":"_ext_","search":"_all_","design":"searchByName","index":"searchByName","x":456,"y":702,"wires":[["f2a9fe0c.9915b","6c8dc3e0.ec543c"]]},{"id":"fe4a2349.6525f","type":"switch","z":"e619647e.eaace8","name":"","property":"req.query.object_name","propertyType":"msg","rules":[{"t":"eq","v":"object_one","vt":"str"},{"t":"eq","v":"object_two","vt":"str"},{"t":"eq","v":"deal","vt":"str"}],"checkall":"false","outputs":3,"x":219,"y":46,"wires":[["6972c0c2.cc0d68"],["69ba11b8.a66d6"],["7ea66077.8bbe2"]]},{"id":"69ba11b8.a66d6","type":"cloudant in","z":"e619647e.eaace8","name":"","cloudant":"749e6228.12024c","database":"object_two","service":"_ext_","search":"_id_","design":"searchByName","index":"searchByName","x":547,"y":102,"wires":[["459bbbc7.772aa4","dcd8b919.e9208"]]},{"id":"7ea66077.8bbe2","type":"cloudant in","z":"e619647e.eaace8","name":"","cloudant":"749e6228.12024c","database":"deals","service":"_ext_","search":"_id_","design":"searchByName","index":"searchByName","x":518,"y":145,"wires":[["459bbbc7.772aa4","dcd8b919.e9208"]]},{"id":"691758d2.773f3","type":"http in","z":"e619647e.eaace8","name":"","url":"/authenticate","method":"get","swaggerDoc":"","x":102,"y":2077,"wires":[["37bd99a4.7415ee","a96a190a.5fadc8"]]},{"id":"b8fe4250.44b02","type":"cloudant in","z":"e619647e.eaace8","name":"","cloudant":"749e6228.12024c","database":"user","service":"_ext_","search":"_idx_","design":"searchByName","index":"searchByName","x":499,"y":1976,"wires":[["37bd99a4.7415ee","9a3ff432.e37b98"]]},{"id":"37bd99a4.7415ee","type":"debug","z":"e619647e.eaace8","name":"","active":true,"console":"false","complete":"false","x":573,"y":2126.75,"wires":[]},{"id":"a96a190a.5fadc8","type":"function","z":"e619647e.eaace8","name":"","func":"msg.payload={ \"username\": msg.payload.username, limit: 1 };\n\nreturn msg;","outputs":1,"noerr":0,"x":148,"y":2002.75,"wires":[["37bd99a4.7415ee","b8fe4250.44b02"]]},{"id":"9a3ff432.e37b98","type":"http response","z":"e619647e.eaace8","name":"","x":722,"y":1964,"wires":[]},{"id":"749e6228.12024c","type":"cloudant","z":"","host":"ddc1728e-316e-4a3e-a75e-e85be80a4e99-bluemix.cloudant.com","name":""}]
